[2022-01-03 19:03] edublancas commented on #461
Ups. Wrong repo.

[2022-01-03 19:34] idomic opened #462 "Improving the commander message"
The commander when error occurs should output it to the console, sometimes it isn't clear what's the error

[2022-01-04 00:02] edublancas commented on #382
Hey @kugiyasan, sure. It was more an issue on my end since I didn't consider the complete picture, and my original description wasn't clear enough.

Users can create Ploomber pipelines in different ways (from directories, Python modules, or YAML files). Each one has its details, so let's restrict this feature on YAML, since it's by far the most common.

My original description wasn't clear, so let

[2022-01-04 04:13] #461 closed

[2022-01-04 05:48] edublancas commented on #462
I tried to reproduce the error we debugged today but Commander already shows the actual error message (`unknown option --invalid-arg`):

[code]

I reviewed the source code and that should be the case, since we're not capturing standard error, so it should be printed out. Maybe we didn't take a look at the whole traceback? Closing this for now since I couldn't reproduce it. But if you can, feel fre

[2022-01-04 05:48] #462 closed

[2022-01-05 00:12] reesehopkins commented on #438
Thanks for the details!!

Yes, I think ploomber is connecting to my DBClient client to check a task's status. Unfortunately, I need several database clients as our data is scattered across various systems. If I am reading the docs correctly, it means I need to define the client for each task in my `pipeline.yml` file, right? Or can I configure multiple clients at the "top-level" of the `pipeline.y

[2022-01-05 17:29] edublancas commented on #438
Yes, you can declare top-level clients. That should lower your connection time since ploomber will use the same connection for all tasks.

Looks like all your tasks are dumping data so the config would look like this:

[code]

Let me know if this config helps you with connection time. Unfortunately, right now, there isn't a way to configure more than one top-level client. So you'd still need to de

[2022-01-05 23:17] rockraptor5 opened #466 "Enable passing .sql task results to a following .sql task as parameters"
Documentation page: community/index

## Use case
I work in a business where we have an abundance of data but not necessarily the best data for data science efforts. In may cases we have millions of time series records for feature building but poor records of the target data we'd like to predict.
Further complicating efforts are our many many different database servers of various type (oracle, sql,

[2022-01-06 02:49] edublancas opened #467 "macOS CI intermittent issue"
our macOS CI fails sometimes (like 10% of the time), not sure what it is but we need to investigate it. the test that fails is always the same: https://github.com/ploomber/ploomber/runs/4721078450?check_suite_focus=true

[2022-01-06 05:03] edublancas opened #468 "ploomber nb hides traceback if pipeline fails to load"
If the pipeline cannot load, the error is as follows:

[code]

However, when using another command such as `ploomber status`, the traceback is displayed.

[2022-01-06 23:17] edublancas commented on #466
Hi @rockraptor5 , thanks a lot for your feedback. I gave it some thought and have the following idea. I think this could solve your problem and related ones.

Currently, tasks support parameters, but users need to explicitly pass a value:

[code]

However, we could allow users to define *dynamic parameters* whose value is obtained by executing a function. So you could have something like this:

[c

[2022-01-07 01:18] edublancas opened #469 "telemetry edge cases"
We can publish the current version but let's take care of this for the next one.

1. breaks if config.yaml does not have a `stats_enabled` key (`/telemetry/telemetry.py", line 185`)
2. breaks if config.yaml is corrupted
3. breaks if uid.yaml does not have a uid key (`ploomber/telemetry/telemetry.py", line 157`)
4. breaks if uid.yaml is corrupted
5. breaks if uid key in uid.yaml is not a string

[c

[2022-01-07 01:54] rockraptor5 commented on #466
@edublancas
That looks great to me; compute.py would be a task b/w first and second.sql?

Thanks for looking into it so quickly! Excited to simplify and streamline my pipeline.

[2022-01-07 02:14] rockraptor5 commented on #466
@edublancas Just thought of something. In my case I'll be pulling a list from python. Something like this:
[code]
How is that handled in the sql execution? Right now I'm using sqlalchemy which I think passes a tuple into the .sql file. Just want to be sure the end result is:
[code]
vs
[code]

[2022-01-07 04:52] reesehopkins commented on #466
@edublancas that's very elegant! I confirm what @rockraptor5 noted about params appearing as lists instead of tuples. Is there a way to create a tuple as a parameters?

[2022-01-07 13:15] idomic opened #470 "CI - running versions independent"
When running the CI, those version tasks should run independently from each other. When we have a failing CI we can re-run but it runs all of the os versions, for instance, we'll need to run MacOS, v 3.6,7,8,9. Ideally those will be segregated. The files we're looking at are under this location: .github/workflows/ci-mac.yml

[2022-01-07 13:25] idomic commented on #470
A bit more context, saving the job status in the end and loading it in the beginning will solve this (workaround): https://github.com/jaredpalmer/razzle/blob/f8305c26997bae8ef0f5dfa52540d842451b4090/.github/workflows/examples.yml .

In addition there's an open issue about this topic, maybe it'll happen in Q1 22' https://github.com/actions/runner/issues/432

[2022-01-07 13:55] edublancas commented on #466
Hi @rockraptor5 and @reesehopkins,

Yes, it's possible to have them as tuples. You could do something like this:

[code]

Then in SQL:

[code]

Or you may pass a list and have jinja format it:

[code]

I'll take a stab at this feature, I'll update so you can test it.

[2022-01-08 14:22] edublancas opened #472 "confusing error if wrong extension"
ploomber infers the type of task with a combination of the source and product extension, but if there's a typo a confusing error shows. example, if the user wants to dump data:

[code]
error:

[code]

Fix: see if the value in `product` has something similar to a `.parquet` or `.csv` extension and show an error

[2022-01-08 19:09] edublancas opened #473 "up-to-date tasks should not throw an error"
When a task already ran, calling `ploomber task` throws an error:

[code]

This happens when people use exported pipelines (like Argo), since we use the `ploomber task` command. However, this does not happen with the `ploomber build` command. We should have them both behave in the same way. Perhaps only show a warning.

cc @mat-ej

[2022-01-09 01:43] edublancas commented on #466
Alright, I got a POC working. The API is a bit different since there are some implementation details I forgot, but is still pretty much the same.

An example showing a new feature: runtime SQL parameters. See `pipeline.yaml` for details.

To test it, you need to install from git:

[code]

Sample code (see `README.md` for more info):

[sql-runtime-params.zip](https://github.com/ploomber/ploomber/fi

[2022-01-09 14:54] edublancas opened #474 "Feature request: DAG recursion"
A user requested support for recursion. That is, keep running a sub-dag until a certain condition is met. This is supported by Kubeflow and allows users to keep a training loop running until performance reaches a certain value.

## Option 1

This request involves important changes in Ploomber's codebase, so I'm opening this issue to get feedback from the community. Please add a comment or react to

[2022-01-09 15:08] edublancas opened #475 "Add a section to the docs explaining our logo"

[2022-01-10 22:26] reesehopkins commented on #438
I finally got around to testing this and running `ploomber build` or `ploomber status` using the top-level definition still connects to the database for each task (in 0.13.7).

- Would `extract_upstream: false` have any impact on this?
- I'm testing on tasks that have already run -- do I need to test this from scratch?

[2022-01-11 14:42] edublancas commented on #474
Hey, @mat-ej. I'd love your feedback here.

[2022-01-11 21:19] jaesmin opened #476 "Scaffold support for R files"
Hello!
Running `ploomber scaffold` with a pipeline.yaml containing .R or .Rmd files returns this error, "This command does not support adding tasks with extension ".R", valid ones are .py and .sql."

Is `scaffold` able to create a pipeline with R files?

Thank you,
Jae

[2022-01-11 21:49] rockraptor5 commented on #466
@edublancas I'll check this out later today and report back. Thanks for the quick response!

[2022-01-12 04:44] edublancas commented on #476
Hi @jaesmin!

Unfortunately, `ploomber scaffold` does not work with `.R/.Rmd` files yet,  but thanks for reporting this, we'll add it to the roadmap for the next release 😊

In the meantime, you can use our R example to get started quickly: https://github.com/ploomber/projects/tree/master/templates/spec-api-r

If you have ploomber installed, you can get the example executing:

[code]

Then move to

[2022-01-12 05:07] kugiyasan commented on #382
I've added the changes you mentioned in those 2 points! Only caveat that I encountered while testing is that `path` is a path to a directory and not a yaml file, so I searched for a `pipeline.yaml` in that directory. I know that `pipeline.yaml` is the default way of interacting with ploomber, however can you confirm that I don't need to do a recursive search or search for a file with a similar nam

[2022-01-12 16:19] edublancas commented on #466
Sure, let me know how it goes!

[2022-01-12 16:20] edublancas commented on #438
* `extract_upstream: false` shouldn't  have any effect
* already run tasks should not affect this

Alright, so it looks like we have something here that we could optimize. Allow me some time to dig into the code to see how we can optimize this, will update you here

[2022-01-13 22:58] edublancas opened #477 "dotted paths to enable dynamic params"
when done, update this: https://github.com/ploomber/projects/tree/master/cookbook/dynamic-params

[2022-01-13 23:31] rockraptor5 commented on #466
@edublancas
I was able execute the pipeline as is but ran into issues when executing against my own .sql and .py

Observations:
* I successfully executed my own .sql against a local DB when specifying a client in the task. The SQLDump method I don't think will work for this use case because I'm querying multiple clients in the same pipeline.
* When I added a task for functions.compute params again

[2022-01-14 02:54] edublancas opened #478 "notebook static analysis may break if notebook has ipython magics"
[code]

[2022-01-14 14:50] edublancas opened #479 "compatibility with IPython 8"
IPython just had a major release and one of the tests is breaking so I pinned the version in `setup.py`. Ploomber actually works fine, it seems like some of the testing config is incompatible with the new IPython internals.

Even a diagnosis of next steps will be useful here!

[2022-01-14 20:35] edublancas commented on #467
This *may be* fixed in https://github.com/ploomber/ploomber/commit/d992a157d4c543384521fe63cc85148aae629668

I re-ran the macOS CI a few times and it worked. But we'll see it in the long run.

[2022-01-14 20:35] #467 closed

[2022-01-15 22:37] edublancas opened #480 "telemetry suggestions"
For the next iteration

1. capture exit code (error or not)
2. record error messages

[2022-01-15 22:39] #476 closed

[2022-01-15 22:39] #459 closed

[2022-01-15 22:40] idomic opened #481 "Missing flag on ploomber scaffold"
Documentation page: user-guide/scaffold

[2022-01-15 23:14] idomic opened #483 "General repo: Need an issues automation bot"
This bot should connect between the open issue and the PR that's submitted.
To connect it'll go over the details of the issue and bind the two.

[2022-01-15 23:27] edublancas opened #484 "Allow positional argument in ploomber scaffold"
[code]

Note: since this requires an update to `ploomber-scaffold`, we'll have to release that first, then pin the version here

[2022-01-16 00:41] #437 closed

[2022-01-16 00:41] edublancas commented on #480
Moved to #469

[2022-01-16 00:41] #480 closed

[2022-01-16 00:41] edublancas commented on #469
For the next iteration

    capture exit code (error or not)
    record error messages

[2022-01-16 00:48] edublancas commented on #476
Hi, this has been fixed in Ploomber 0.14.5

Quick example:

[code]

Edit `pipeline.yaml` (e.g., here I add a new task at the end):

[code]

Then:

[code]

If you're using RStudio, you can run the following to inject input paths on each file:

[code]

More on that here: https://docs.ploomber.io/en/latest/user-guide/editors.html

Feel free to ask any questions and please submit any feedback you may

[2022-01-16 00:55] idomic commented on #469
@edublancas On the first 5 bullets, do we just wanna recreate it if those edge cases happen and add tests?
Some are really edge of the edge, like 5 for instance.

[2022-01-16 16:58] edublancas opened #485 "add a user guide on configuring a File.client"
note: add link from soopervisor docs to it

[2022-01-16 17:02] idomic commented on #485
We can do this as part of th kflow submit sounds pretty straight forward

On Sun, Jan 16, 2022, 11:58 AM Eduardo Blancas ***@***.***>
wrote:

[2022-01-16 17:45] edublancas commented on #485
yes. this is repeated in several places in the soopervisor config. I'm thinking to concentrate a simple explanation in soopervisor, and have another more detailed section in ploomber docs

[2022-01-16 18:21] idomic commented on #485
Good idea! Like for me I took an example for the gcp client inputs so it
was pretty straight forward but maybe since ei had the context.

On Sun, Jan 16, 2022, 12:45 PM Eduardo Blancas ***@***.***>
wrote:

[2022-01-16 18:22] edublancas opened #486 "CommanderException should display the error message in red"

[2022-01-16 18:59] edublancas commented on #485
[added guide to soopervisor docs,](https://soopervisor.readthedocs.io/en/latest/user-guide/task-comm.html) we need something like this but with more details in ploomber docs

[2022-01-17 00:11] edublancas opened #487 "Improve warnings management when running ploomber build"
Sometimes, third-party libraries emit warnings; when ploomber runs a pipeline, it will capture the warnings and show them at the end.

- [ ] see if we can do something to improve the information displayed to help the user find what library displayed the warning
- [ ] add a way to suppress the warnings. it's possible to not capture them by switching the executor, so maybe add a section in the docs

[2022-01-17 02:30] idomic commented on #469
Need to detect multiple envs like airflow, slurm, argo, kubeflow, kubernetes.

[2022-01-17 16:30] arturomf94 commented on #427
@edublancas - thanks! sorry for the delay... i took some days off but now i'm back :) will get down to work on this during the week! 👍

[2022-01-17 16:31] arturomf94 commented on #403
yeah! for sure! please assign this to me :)

[2022-01-17 18:47] edublancas commented on #427
No worries, thanks a lot!

[2022-01-17 20:46] idomic opened #489 "Improve sql tasks serialization"
When leveraging the etl example template, I could see that the dag is outputing only the sql task names.
Here's how to recreate: {t: dag[t].product.to_json_serializable() for t in dag._iter()}

Out[1]:
{'download': {'nb': '/home/jovyan/projects/templates/etl/output/download.ipynb',
  'zipped': '/home/jovyan/projects/templates/etl/output/data.7z',
  'extracted': '/home/jovyan/projects/templates/etl

[2022-01-17 22:10] edublancas commented on #481
what was this? what flag are we missing?

[2022-01-17 22:14] idomic commented on #481
documentation for : ploomber scaffold --empty

I think we can close this since we pushed a fix last week

[2022-01-17 22:14] #481 closed

[2022-01-18 00:22] idomic commented on #487
For 2. we probably want to allow the user the level of logging, maybe verbose levels or info/debug/errors only like for logger

[2022-01-18 02:01] edublancas commented on #489
is this blocking the telemetry PR?

[2022-01-18 02:08] idomic commented on #489
Not blocking, but once it's ready, it'll require a change in the module

[2022-01-18 02:15] edublancas commented on #466
Hi,

1. In the sample project that I sent, I specified one global client, however, you can specify task-level clients and it will still work:

[code]

2. I'm not following. Can you provide more details? Better if you can you provide some sample code to reproduce the error.

3. You can nest the pipeline. For example, you may have:

[code]
Then, create:

[code]
And declare compute params inside  `my

[2022-01-18 02:39] edublancas commented on #438
Hi Reese,

I'm unable to reproduce the error. I created a simple pipeline and verified that the client connects to the db only when it needs to dump the data, if the task isn't outdated, it doesn't connect.

I added a few print statements. One in the function that returns the client, and another one in Ploomber, when opening the connection.

When I force, the clients are created and connections op

[2022-01-18 15:53] edublancas opened #490 "ploomber plug-in doesn't work if JupyterLab is already running"
this is a problem for enterprises who spin their instances. If they run pip install, the extension won't work. if they kill the image, everything is wiped out

[2022-01-19 21:55] rockraptor5 commented on #466
@edublancas

That's all super helpful.

3. I was missing the __init__.py

1. I can't send the details for my .sql or the results but I can confirm the first task of the pipeline is successful and creates out/data.parquet. I can also confirm I am able to successfully execute functions.compute_params (util.get_wells in my case) in a notebook and output and generate out/params.json. Still getting an

[2022-01-20 03:12] edublancas opened #491 "Add a command to add a Python package to an existing project"
Currently, `ploomber scaffold --package` creates a base Ploomber project with a `setup.py` file so users can package their code and set up their environment without editing the `PYTHONPATH`. However, there is no way to add a package after a project has started. We could add this to `ploomber scaffold`

There are two use cases: sometimes a user may want to create the package so they can import util

[2022-01-20 18:15] rockraptor5 commented on #466
@edublancas

I've got it running. This is going to be great!

1. Serial execution worked; i had tried setting the param to an int to simplify the json but that didn't work either.
2. Still having the issue where a tuple isn't properly passed to the query and I get a sql error so I converted my list to a string as a work around. @reesehopkins submitted a similar issue I think.

pipeline.yaml
[code]

[2022-01-20 18:38] edublancas opened #492 "Improve error message when function task fails to serialize"
See here https://github.com/ploomber/ploomber/issues/466#issuecomment-1016902277

[2022-01-20 18:39] edublancas opened #493 "telemetry build call is not storing task status correctly"
sends the call after the dag runs so all tasks are marked as Executed

[2022-01-21 05:38] edublancas opened #494 "pip freeze problem"
I just encountered this problem with pip: https://stackoverflow.com/questions/62885911/pip-freeze-creates-some-weird-path-instead-of-the-package-version

this may affect `ploomber install` depending on the version. i need to further investigate

update: i think this is only a problem when running `pip freeze` inside a conda environment

[2022-01-22 04:16] edublancas opened #495 "ploomber scaffold uses pipeline.yaml in parent directories"
when using ploomber scaffold, the command will load pipeline.yaml even if in a parent directory. this is expected, but we may want to give an option to override it

[2022-01-22 04:19] edublancas opened #496 "ploomber scaffold should accept hyphens if no creating a packaged project"

[2022-01-22 16:52] edublancas opened #497 "error when finding pipeline.yaml in root directory"
the recursive function looks at .parent[0] but the root directory does not have a parent

[2022-01-23 03:48] #427 closed

[2022-01-23 16:10] edublancas commented on #476
We just uploaded an R screencast :) https://www.youtube.com/watch?v=AOd7JHXpchc

[2022-01-24 13:01] idomic commented on #484
@lgfunderburk this can be a good issue for you to tackle

[2022-01-24 13:02] idomic commented on #472
@lgfunderburk another straightforward one :)

[2022-01-24 13:59] edublancas commented on #484
The scaffold logic is here: https://github.com/ploomber/scaffold

So we need two PRS one there and one here

[2022-01-24 15:07] jaesmin commented on #476
Amazing. Thank you!

[2022-01-24 15:23] edublancas commented on #476
Forgot to post the [blog post URL](https://ploomber.io/blog/rstudio/). Reach out if you have feedback questions :)

[2022-01-24 20:33] lgfunderburk commented on #484
Thank you. Taking a peek

[2022-01-25 00:44] #490 closed

[2022-01-25 04:07] edublancas commented on #466
Ok, so change the fn to this:

[code]

Then in your SQL:

[code]

That should render to:

[code]

Let me know if that works.

Are there any other pending issues?

[2022-01-25 19:06] rockraptor5 commented on #466
@edublancas
That works. The list comprehension is cleaner than what I had done to get it working. No other issuse. Thanks!

[2022-01-25 19:09] edublancas commented on #466
nice! bear in mind that this is a new feature and hasn't been released yet, but you can still use it if you install it from git. I need to work on it a bit more, this will be part of the next release. I'll close this issue when it's out. Thanks a lot for your feedback!

[2022-01-26 00:18] #478 closed

[2022-01-27 19:32] #469 closed

[2022-01-27 19:32] idomic commented on #469
Closing as it's fixed.

[2022-01-27 19:33] idomic commented on #468
@arturomf94 want to take a look here?

[2022-01-27 19:34] idomic commented on #435
@arturomf94 This one should be a rather quick fix

[2022-01-28 13:38] edublancas opened #499 "consider setting static_analysis to False by default"
users have reported problems with this, it isn't clear for new ones what the error mean (for example, when adding a new parameters in pipeline.yaml) but not in the script/notebook

Another alternative would be to have three modes for static analysis: one that checks code + params, another one that only checks code, and nothing. only checking code could be the default

[2022-01-28 13:43] edublancas commented on #415
this is actually pretty hard to implement 👀 i did some quick prototyping

[2022-01-28 13:49] edublancas opened #500 "the upstream cell in scripts/notebooks is confusing"
some users have reported that it's confusing that the pipeline is declared in the `pipeline.yaml` while the upstream is declared in the Python script/notebook

[2022-01-28 15:57] edublancas opened #501 "improving the onboarding workflow"
the current onboarding tells the user to download an example, then run `ploomber build` but that's it, after that, we don't provide any feedback.

Notes:
maybe we should ask the user what editor they use. if they use vscode/pycharm, they'll need to manually inject the cell

I think we should have more guidance so they can explore the tool.

Here's an idea:

[code]

[code]

[code]

[code]

[code]

[2022-01-28 16:39] edublancas opened #502 "provide feedback when user injects cell manually"
print something like: re-run this if your pipeline.yaml changes. maybe point to the docs - vscode has some file observer feature

[2022-01-28 16:50] edublancas opened #503 "cancel current PR build is another commit is pushed"
https://twitter.com/adamchainz/status/1485572084617121796?s=11

[2022-01-28 20:48] #502 closed

[2022-01-29 00:41] idomic commented on #496
@kugiyasan wanna take a stab at it?

[2022-01-29 02:49] edublancas opened #504 "make user feedback shorter when downloading an example"
- [x] only print the examples description (instead of the first X lines in the readme)
- [x] clearer instructions for setting up and running it

[2022-01-29 15:26] idomic commented on #503
Hey @kozo2 up for the challenge?

[2022-01-29 16:36] idomic opened #505 "DAG visualization and control mechanism"
Ideally the DAG can be changed from multiple places and not just via text editor. Some of the users complained on having a mechanism of visualization and a GUI to control the graph.

[2022-01-29 16:38] edublancas commented on #505
For inspiration, Elyra has a visual editor: https://github.com/elyra-ai/elyra

Maybe we can re-use some components?

[2022-01-29 16:38] idomic opened #506 "Tutorial Sandbox / BYO Notebook"
The binder load time takes 1 - 2 minutes and is not a good UI/UX. We'd want to have a hosted ploomber with a sandbox that's available immediately for people to get started.
It could also allow users to push their notebooks in a bring your own fashion so they can play with a semi automated notebook.

[2022-01-29 16:43] idomic commented on #501
Yeah I like this flow, I think the first stepping stone should be ploomber refactor + an option to skip to a template example. There should be a mechanism to use an api to track the workflow status/rerun etc later on

[2022-01-29 22:31] idomic opened #507 "Pipeline ended notification"
Some pipelines takes hours to run. Unless users have a monitoring dashboard to see the status of the pipeline, a great feature can be notifying ones the pipeline ran and its status. Probably in the on_finish function.

[2022-01-30 03:54] edublancas opened #508 "Improve error message when pipeline.yaml has empty tasks"
[code]

Error is pretty confusing:

[code]

[2022-01-30 05:09] edublancas opened #509 "improve error message when pipeline.yaml does not exist"
If a user runs any ploomber command and passes `-e pipeline.yaml` in a directory that doesn't have such a file, the error isn't very clear:

[code]

[code]

It'd be better to check if the argument "looks like" a path to a yaml file, and if so, say that the path doesn't exist. If it doesn't look like a path to a yaml, print the default error message.

[2022-01-30 15:59] idomic opened #510 "after install, the requirements should be in the same env"
By default, the install should input to the user env and not to a new one.

[2022-01-30 16:32] aadityasinha-dotcom commented on #509
Can I work on this issue?

[2022-01-30 16:42] edublancas commented on #509
Sure

[2022-01-31 05:44] edublancas opened #511 "magics can break static analysis"
Related to #499

Currently, the notebook static_analysis feature allows to quickly look for errors in the code before running it. To allow analyzing code with magics, it comments them and then runs the analysis. e.g.,

[code]

Becomes:

[code]

However, this will break if the commented line declares a variable used downstream (as in the example shown above), because the code loses the declaration

[2022-01-31 13:43] edublancas opened #512 "Scheduling example"
This has come up a few times. I
Think we should add a section to the docs (under deployment) and a code example

[2022-01-31 16:31] hornste opened #513 "set params for all tasks"
it would be helpful it would be possible to set global params for a pipeline, rather than hard code them to each specific task.

[2022-01-31 16:35] aadityasinha-dotcom commented on #509
I guess I should add a condition here for yaml file but my question is why the condition `elif '.' in entry_point and Path(entry_point).suffix not in`  is not enough for handling that exception.

[code]

[2022-01-31 16:36] idomic opened #514 "Stale ploomber versions"
After checking through pipy stats which versions users use I discovered a gap between the current available version and the one people uses, I was able to see that even though the current version is 0.14.7, some users still leverage really old versions like 0.12.2, 0.7.3 and 0.2.

The goal here is to make sure users gets the best experience and to do that we need to add a version check and display

[2022-01-31 16:38] edublancas commented on #509
I think it's best to handle this outside that function and do it here:

https://github.com/ploomber/ploomber/blob/5d881857616922be49559bafc5f8b1efa85729b7/src/ploomber/entrypoint.py#L65

so something like this:

[code]

[2022-01-31 16:41] aadityasinha-dotcom commented on #509
Ok, thanks.

[2022-01-31 16:43] edublancas commented on #514
a few comments:

we need to be careful to advise on the upgrading procedure since major upgrades introduce breaking changes. some ideas:

* tell the user to upgrade to the latest minor version e.g., if running 0.14, suggest 0.14.X, even if 0.15 is out
* if a new major version is out, we can still tell them to upgrade but maybe auto-generate a list of pinned dependencies in case they break their pi

[2022-01-31 16:51] edublancas commented on #513
Thanks for your feedback!

I'm thinking we could have a section like this:

[code]

Which would be equivalent to:

[code]

Thoughts?

[2022-01-31 17:36] hornste commented on #513
Sure. That would work.

On Mon, Jan 31, 2022 at 11:51 AM Eduardo Blancas ***@***.***>
wrote:

[2022-01-31 23:24] edublancas commented on #497
the problem is here: https://github.com/ploomber/ploomber/blob/5d881857616922be49559bafc5f8b1efa85729b7/src/ploomber/util/default.py#L467

there are a bunch of places where we do `parents[0]` but if the current working directory is the root of the filesystem, `parents[0]` will throw an exception

[2022-01-31 23:28] #382 closed

[2022-02-01 10:33] aadityasinha-dotcom commented on #509
I think this should work.

[2022-02-01 14:57] idomic commented on #514
3rd point makes sense.

[2022-02-01 19:30] edublancas opened #518 "confusing error when using grid + function tasks"
if each element in the grid has different param names, an error like this shows:

[code]

[2022-02-02 01:40] edublancas opened #519 "Document SQL runtime parameters"
We recently added a new feature to allow runtime SQL parameters. This lets users read products from upstream tasks, compute some parameters, and use these parameters to render the SQL script. However, this feature hasn't been documented.

For context, see #466

For a code example, see: https://github.com/ploomber/ploomber/blob/84d836fa5a5f2368fe96db4a9181b5b2d6687d2b/tests/tasks/test_tasks_sql.py#

[2022-02-02 01:42] edublancas commented on #466
Hey @rockraptor5, this is now in the master branch and will be part of the next release! (Coming up this week)

[We're still missing documentation](https://github.com/ploomber/ploomber/issues/519) on this so if you are up for the challenge, we'd appreciate your help! Thanks again for the feedback!

[2022-02-02 01:42] #466 closed

[2022-02-02 03:26] idomic commented on #518
@maticortesr want to try tackling it?

[2022-02-02 03:31] idomic commented on #361
@kozo2 want to try tackling it?

[2022-02-02 03:34] idomic commented on #495
@aadityasinha-dotcom  wanna try another PR?

[2022-02-02 03:59] idomic opened #520 "nb command error should be shorter"
The error today is too long and it's hard for users to understand what's wrong, here's an example:
Could not run nb command: the DAG failed to load "Error initializing NotebookRunner from {'source': PosixPath('path/file.py'), 'product': {'data': 'data/some_data.csv'}, 'class': <class 'ploomber.tasks.notebook.NotebookRunner'>}. Error: Key 'nb' does not exist in product: {'data': File('data/some_dat

[2022-02-02 04:01] idomic opened #521 "ploomber install - users sometime find it confusing by having an env inside an env"
Users install via conda, and then they create another conda/pipenv. In addition when working with samples, the users need to move into the right directory before running the ploomber install (running outside of the dir will error out).

[2022-02-02 04:40] aadityasinha-dotcom commented on #495
Yeah, sure!!

[2022-02-02 14:36] mat-ej opened #522 "Unable to use grid: with params: in pipeline.yaml"
From tutorial:
`You can use params and grid in the same task. Values in params are constant across the grid.`

However when I try to define both grid and params I get the following error:
` 'params' is not allowed when using 'grid'"`
I define the task as follows:
[code]

[2022-02-02 17:08] edublancas opened #523 "cli should suggest the appropriate command if there's a typo"
e.g.:

[code]

Print:

[code]

[2022-02-02 17:09] edublancas opened #524 "add auto-completion to the CLI"
If someone types:

[code]

And presses the tab key, it should autocomplete to:

[code]

[2022-02-02 18:11] edublancas opened #525 "add a user guide showing how to run ploomber in a CI/CD fashion"
with github actions and gitlab

[2022-02-02 18:15] edublancas opened #526 "automatically generated documentation"
A couple of users have asked us if Ploomber can generate pipeline documentation. We have a limited set of features:

1. generate a plot with `ploomber plot`
2. generate a basic report with `ploomber report`

However, this remains fairly limited. And we'd like to expand this.

[2022-02-02 21:44] edublancas opened #527 "Better error reporting"
There are three types of errors that can happen:

1. An error raised explicitly due to some invalid user's input (e.g., an empty `pipeline.yaml`)
2. An error when executing user's code
3. An unexpected error in ploomber's codebase

When using the CLI, we want these errors to behave differently, to improve user's experience:

1. Only show the error message and exit with status 1
2. Show the full tr

[2022-02-03 02:16] edublancas opened #529 "Better error tracebacks when ploomber build fails"
When `ploomber build` fails due to an error, we raise chained exceptions:

[code]

That's way too long. We should remove unnecessary details (our chained exceptions) and print something like this:

[code]

[2022-02-03 05:55] #504 closed

[2022-02-03 05:55] #527 closed

[2022-02-03 05:57] #508 closed

[2022-02-03 05:57] #520 closed

[2022-02-03 14:54] edublancas opened #530 "error when re-formatting files"
If the pipeline has `.R` and we move them to py:percent format, they'll be re-formatted and the extension will change to `.py`

[2022-02-03 15:21] edublancas opened #531 "jupyter docs improvements"
show how to reformat pipelines/examples to ipynb in case the user wants to

[2022-02-03 15:25] edublancas opened #532 "ploomber nb --format re-formats the same file multiple times"
if the same file is used many times in the pipeline, the re-formatting will happen many times:

[code]

[2022-02-03 18:51] edublancas opened #533 "adding soorgeon inside ploomber's cli"

[2022-02-03 19:12] edublancas commented on #521
,idea: i think ploomber install should detect if running in a venv

if yes, install inline, otherwise create an env

[2022-02-03 20:09] idomic opened #534 "Error when running the examples command twice"
The output of such outcome (ploomber examples some_example X2) should be click.echo to the user saying the example is already in the environment + the next step

[2022-02-03 23:25] maticortesr opened #535 "Networkx version issue"
I fixed this issue on my machine but decided to open an issue before sending a PR out of the blue. This has happened to me in both MacOS and Fedora.

Error:
[code]
The fix is just updating networkx to 2.5 or more as described here: https://stackoverflow.com/questions/66174862/import-error-cant-import-name-gcd-from-fractions

Might be worth updating the setup.py file to set a minimum version for ne

[2022-02-03 23:28] edublancas commented on #535
thanks for investigating this issue, please submit a PR

[2022-02-04 00:33] #535 closed

[2022-02-04 00:44] #503 closed

[2022-02-04 00:44] idomic commented on #503
Just pushed a commit for it.

[2022-02-04 01:04] maticortesr commented on #518
Sure I can take a look

[2022-02-04 01:05] idomic commented on #518
Thanks for stepping up :)

[2022-02-04 03:13] edublancas opened #537 "add an example for running arbitrary languages"
we currently have an example of a shell task, but we could also show alternative ways of running code other than Python and R: calling shell from Python or having a notebook with a custom kernel

[2022-02-04 03:21] idomic commented on #537
I think pyspark is a pretty strong example :)

[2022-02-04 04:32] edublancas commented on #534
you mean:

[code]

?

 I think the problem is that we cannot be sure that `folder` contains the example, it could contain any other thing. I think the current error message is clear: "folder exists, choose another name"

[2022-02-04 13:33] idomic commented on #534
Yeah exactly what I meant, is there a situation it breaks in the middle? like the folder is there but empty for instance?
Also if you're happy with the user print solution you can close

[2022-02-04 15:53] kingabzpro opened #538 "Deepnote: pygraphviz is required to use plot"
I am using Deepnote to build ploomber pipelines and when I type `ploomber plot` it says 👇👇

[code]

Installing pygraphviz give error

[code]

[2022-02-04 16:02] edublancas commented on #538
Thanks for your feedback, please try this.

Change your environment to Python 3.8 or higher:

![image](https://user-images.githubusercontent.com/989250/152561327-2bda7a2d-41e0-4d1b-9ad0-953578aa663a.png)

[More info on that here](https://docs.deepnote.com/environment/custom-environments)

Then open a terminal:

[code]

Then `ploomber plot` should work

[2022-02-04 16:16] edublancas opened #539 "fix pygraphviz installation issue"
See https://github.com/ploomber/ploomber/issues/538

recent versions of pygraphviz only work with python 3.8 and higher, however, they didn't pin the dependency and raise an error instead. we should find what's the most recent version that works with python 3.7 and lower, and pin it. But do not pin it if running >=3.8 (there's a way to specify these rules in setup.py)

[2022-02-04 16:18] edublancas opened #540 "replace dependency on pygraphviz"
`ploomber plot` depends on pygraphviz and graphviz, the latter is not pip-installable which makes setup difficult. we should find a way for users to easily create a dag plot, ideally with no extra dependencies

[2022-02-04 21:15] edublancas opened #541 "add an example for processing independent chunks"
This is a recurrent pattern and a few users have asked us about it so we should have a working example.

Assume you're getting data on batches, users want to pass the batch through the full pipeline when the next batch arrives, they want to repeat the process. An extension of this problem is when they already have all the batches and want to process them in parallel. Note that this is different fr

[2022-02-04 21:31] edublancas commented on #534
It works that way to prevent overwriting files or polluting the user's directory. If will also throw this error even if the directory is empty. I'm not sure how much we should think of this, I think it's fine

[2022-02-04 21:57] idomic opened #542 "run profiling to determine loading times"
We need to optimize the time it takes ploomber to load when running
`ploomber`
or `ploomber --help`

We need to run profiling and see the different load times of the python packages and how we can optimize it to get a faster user response.

[2022-02-04 22:03] #534 closed

[2022-02-05 00:13] edublancas commented on #499
note: i think static analysis should be a runtime check (instead of a render time check). we heard from a user that it makes difficult to work with the DAG if it always expects the code to be working (bc right know, this is enforced by the static analysis)

[2022-02-05 00:27] edublancas commented on #521
I'm working on this now, I'm thinking of this workflow:

If running inside a venv -> install in the current environment, otherwise create a new venv

I'm still wondering if this is a good thing to do: If lock files are present, install from them, otherwise, install from regular files.

Example:

[code]

The idea is that `ploomber install` should just work and do the right thing. but users can stil

[2022-02-05 00:36] edublancas opened #543 "provide a safe way to upgrade ploomber"
since we'll be rolling out a feature to notify users when a new ploomber version comes out, it'll be good to have a safe way to upgrade:

[code]

this could upgrade ploomber, and create new lock files, but back up the old ones in case the new ploomber version breaks anything

and:

[code]
could return to the old environment, if needed

[2022-02-05 03:08] edublancas commented on #510
duplicate of #521

[2022-02-05 03:08] #510 closed

[2022-02-05 03:14] edublancas commented on #435
hey @mgierdal, we fixed this. it will be part of the next release (coming out next week) - please let us know if this solves your problem

[2022-02-05 15:02] idomic commented on #521
Yeah, lock files is not usually used, maybe only in production, I don't think we should enforce users to use them but should give and support the option.

[2022-02-05 16:05] aadityasinha-dotcom commented on #495
@edublancas can you explain this issue?

[2022-02-06 03:15] edublancas opened #545 "add a option to parametrize notebooks"
When using `ploomber scaffold`, Ploomber creates notebooks with an existing parameters cell, however, if the user creates one or wants to  include an existing one, most likely, it won't have a parameters cell, which will cause the execution to break due to a "notebooks must have a parameters cell"

Adding a parameters cell is a multi-step process, so we should add a command to automate this:

[cod

[2022-02-06 03:29] edublancas opened #546 "ploomber scaffold onboarding improvements"
After creating a project: suggest `ploomber install` to configure the dev environment (we could also run the install script to prepare the environment), also tell them they can run `ploomber scaffold` again to generate files

If not empty, suggest: `ploomber build`, and to check the `pipeline.yaml`, also link to docs on adding new tasks

if empty dag, suggest: adding some tasks (include link), and

[2022-02-06 16:05] #444 closed

[2022-02-06 17:19] mattarderne opened #547 "module 'mistune' has no attribute 'BlockGrammar'"
Installation error following the tutorial at step `ploomber examples -n templates/ml-intermediate`
[code]
Fixed with
[code]

Possibly isolated to my install.

[2022-02-06 17:32] edublancas commented on #547
Thanks for reporting this! mistune released a version with breaking API changes.

What pip version are you using? Did you get any warning from pip? We use `nbconvert`, which relies on mistune. `nbconvert` pins a compatible mistune version, but I've seen pip dependency resolver fail sometimes and emit a warning - so probably that happened

[2022-02-06 17:32] edublancas commented on #547
Also, if you have any other feedback, [please share it with us.](https://ploomber.io/community)

[2022-02-06 17:56] mattarderne commented on #547
Yes got pip warning for `pip 20.2.1`
That makes sense, thanks!

[2022-02-06 17:57] edublancas commented on #547
No problem!

[2022-02-06 17:57] #547 closed

[2022-02-06 18:09] #496 closed

[2022-02-06 18:15] edublancas opened #548 "add an option to add a package to an existing project"
most users start with a simple `pipeline.yaml` layout, but as the project advances, they may run into import issues. The best way to solve this is by packaging the project. We should have an option to add a package to an existing project, something like this:

[code]

[2022-02-06 22:17] jramirez857 commented on #443
I would like to work on this. Should this come as 4 different pull requests for each repo? Do the other repos have their own issue?

[2022-02-06 22:19] edublancas commented on #443
hey @jramirez857, thanks for taking this one!

I'm not sure which repos still have old links, so this is a bit of detective work. The rest of the repos don't have open issues on this, but feel free to open PRs over there if you find any outdated links.

[2022-02-06 22:22] iruoma commented on #317
I will like to work on it

[2022-02-06 22:23] lfunderburk commented on #317
Working with @iruoma as part of PyCascades

[2022-02-06 22:25] edublancas commented on #317
Great! This one is a bit subjective. To get started, check the cookbook section in the docs: https://docs.ploomber.io/en/latest/cookbook/index.html

and see if there are any missing links to examples in this folder: https://github.com/ploomber/projects/tree/master/cookbook

There are other places where it may make sense to link to the cookbook. Most notably, in the Spec API documentation: https://

[2022-02-06 22:28] DataCascadia commented on #443
woud grep work to find all files with that string?

[2022-02-06 22:30] edublancas commented on #443
Thanks for your PR, @jramirez857

@DataCascadia: yes, grep should work. although I'm not sure if there are any left links on this repo since @jramirez857 submitted a PR to fix it.

[2022-02-06 22:32] Sri0027 commented on #542
Hi, I am participating in the pycascades sprint. I was checking cProfile library. I am confused as to what is required here. Can you please guide me?

[2022-02-06 22:36] edublancas commented on #542
sure. we essentially want to know how we can improve loading time.

if someone runs:

[code]

It'll take some time to run. because we need to import modules and dependencies. It'd great to know which import statements are causing the most delays so we can optimize accordingly.

So this issue is about discovering what to do. Once we know that, we can open other issues to optimize loading time

shou

[2022-02-06 22:38] edublancas commented on #429
the fix involves checking the file size of tasks passed in the `resources_` key (see link in the original comment for an example), to check files, use this: https://docs.python.org/3/library/stat.html

if any file is above some threshold (say >1MB), then we should [the warnings module](https://docs.python.org/3/library/warnings.html) to alert the user that the file is too big

[2022-02-06 22:38] Sri0027 commented on #542
Yes, please.

[2022-02-06 22:41] #281 closed

[2022-02-06 22:45] edublancas opened #550 "link from videos section to our youtube channel"
link to our youtube channel (add link at the top)

https://docs.ploomber.io/en/latest/videos.html

[code]

also, if there's a way to add a link that subscribes people, that's grat

[2022-02-06 22:52] jramirez857 commented on #443
I have updated the links I found across the ploomber, soorgeon and projects repos. I searched soopervisor as well and did not find any links.

[2022-02-06 22:53] edublancas commented on #443
awesome, closing this

[2022-02-06 22:53] #443 closed

[2022-02-06 23:00] lfunderburk commented on #317
We tried running the setup as the contributing documentation indicates https://github.com/ploomber/ploomber/blob/master/CONTRIBUTING.md

but when we tried to build the docs we got a message `No module named ploomber`

[2022-02-06 23:01] lfunderburk commented on #317
Installing ploomber manually. Should we create an issue to modify the setup.py file?

[2022-02-06 23:02] edublancas commented on #317
The problem may be the environment. after running the instructions. did you activate the environment?

[2022-02-06 23:02] edublancas commented on #317
please share the commands that you ran

[2022-02-06 23:10] jramirez857 commented on #524
Hello, I would like to try to take this on. I see that [cli.py](https://github.com/ploomber/ploomber/blob/master/src/ploomber/cli/cli.py) uses click for autocompletion. Would this issue involve adding similar functionality to [examples.py](https://github.com/ploomber/ploomber/blob/master/src/ploomber/cli/examples.py)?

[2022-02-06 23:13] edublancas commented on #524
this is an interesting issue. yes, we use click for a part CLI, but for other parts, we use `argparse`.

I think click has some auto-completion features: https://click.palletsprojects.com/en/8.0.x/shell-completion/

but I'm not sure how it works, so any improvements would be greatly appreciated!

[2022-02-06 23:14] edublancas commented on #524
essentially, if someone types:

[code]

and then presses the tab key, we want to suggest what commands are available

[2022-02-06 23:16] Sri0027 commented on #542
Using cProfile, I got the following information on top 10 calls taking most time.
 ncalls  tottime  percall  cumtime  percall filename:lineno(function)
      223    0.008    0.000   14.722    0.066 __init__.py:1(<module>)
   2376/1    0.029    0.000    3.715    3.715 {built-in method builtins.exec}
   2339/1    0.022    0.000    3.715    3.715 <frozen importlib._bootstrap>:986(_find_and_load)
   2

[2022-02-06 23:22] edublancas commented on #542
this output looks like C-level modules, we'd like more general information. this looks useful: https://pypi.org/project/import-profiler/

[2022-02-06 23:23] lfunderburk commented on #317
Created virtual environment with pip

`python -m venv ploomb-venv`

`.\ploomb-venv\Scripts\activate` (Windows)

`pip install invoke`

`invoke setup-pip --doc`

It finished without errors. But when we tried

`invoke docs`

We got `No module named ploomber`

We installed ploomber manually via `pip install ploomber`, the rebuild the docs. It worked.

[2022-02-06 23:26] edublancas commented on #317
alright, glad you work it working

[2022-02-07 00:00] edublancas commented on #386
alright, this is how we can help users:

here: https://github.com/ploomber/ploomber/blob/e8c8331af7f3d375a0f592aa3f4187d666724522/tasks.py#L53

we run the setup command. this is the one that may fail. so we can catch errors there and print some helpful message:

[code]

the same applies to this: https://github.com/ploomber/ploomber/blob/e8c8331af7f3d375a0f592aa3f4187d666724522/tasks.py#L76

[2022-02-07 00:13] edublancas opened #552 "add "rst cheatsheet""
many people are new to `.rst` files  - which are the ones we use for the documentation.

we should add a  ".rst cheatsheet" section in doc/contributing.md to show the basics:

what to include:

* how to add external links
* how to add images
* how to add code blocks

look for those here: https://www.sphinx-doc.org/en/master/usage/restructuredtext/

[2022-02-07 00:19] lfunderburk commented on #552
Good idea! Can create a cheatsheet

[2022-02-07 00:19] lfunderburk commented on #552
Can you assign me @edublancas

[2022-02-07 00:31] maticortesr commented on #518
Hey I won't be able to look at this for a week or so, so feel free to assign to somebody else if urgent

[2022-02-07 00:32] edublancas commented on #518
no worries :) not urgent

[2022-02-07 00:33] tammytdo commented on #386
I will work on this

[2022-02-07 00:49] edublancas commented on #538
closing this. feel free to re-open it if problems persist

[2022-02-07 00:49] #538 closed

[2022-02-07 01:53] edublancas opened #553 "refactor calls to telemetry to use new decorator"

[2022-02-07 05:09] edublancas opened #556 "moving ploomber.dag out of ploomber.__init__.py"
this is a pre-step to solve #542

I ran some profiling using [this tool.](https://stackoverflow.com/a/51300944/709975) And found out that pretty much all the loading time comes from loading `DAG`.

So we need to prevent `import ploomber` from importing `DAG`. Unfortunately, this means `from ploomber import DAG` will stop working. So we should start displaying a warning asking users to switch to `f

[2022-02-07 07:30] sagarsadhu commented on #550
Hi @edublancas , I am interested to work on this issue.

We can try to add a link to subscribe. Please check the below code from url https://developers.google.com/youtube/youtube_subscribe_button

`<script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCaIS5BMlmeNQE4-Gn0xTDXQ" data-layout="full" data-count="default"></div>`

[2022-02-07 13:58] edublancas commented on #550
Awesome, please add it to https://github.com/ploomber/ploomber/blob/master/doc/_templates/videos.html

check contributing.md for instructions on building the docs locally

[2022-02-07 17:29] edublancas commented on #539
[pygraphviz 1.8 dropped support for python 3.7](https://github.com/pygraphviz/pygraphviz/releases/tag/pygraphviz-1.8)

Solution:

[code]

or:

[code]

[2022-02-07 18:51] #539 closed

[2022-02-07 19:23] #509 closed

[2022-02-07 20:43] edublancas opened #559 "improve instructions for the jupyter extension"
add more detailed instructions to install the jupyter extension. one recurring problem is that ploomber is installed inside jupyter but is not restarted. another problem is installing ploomber in the kernel but not in the jupyter process

[2022-02-08 04:09] edublancas opened #560 "Packaging components to re-use across teams"
We've had this come up a few times: teams using Ploomber want to provide functionality across the team. The typical case is database connectors but this extends to pre-built Python scripts, functions, SQL scripts, etc.

I imagine teams maintaining a package to share code, for example. Some teams may develop `team_package` in some repository, then users could install it with:

[code]

Then, in a Pl

[2022-02-08 04:42] edublancas opened #561 "ploomber scaffold should create tasks in percent format"

[2022-02-08 18:43] edublancas opened #563 "Give more visibility to Python API docs"
Users are having a hard time finding the options available to customize the tasks declared in `pipeline.yaml`.

For example, one user asked how to select a custom kernel to execute a notebook task. The problem is there isn't a good connection between the tutorials and our Python API (people using pipeline.yaml do not directly use the Python API, but that's what powers it under the hood). So a few

[2022-02-08 22:10] edublancas opened #564 "update documents to reflect new default format"
initially, we were using the `py:light` format as the default one for scripts:

[code]

However, we're now migrating to the percent format to be the default, since VSCode, PyCharm, and others support it:

[code]

Some sections in our documentation need updates:

https://docs.ploomber.io/en/latest/user-guide/jupyter.html
https://docs.ploomber.io/en/latest/get-started/basic-concepts.html

I found th

[2022-02-08 22:15] #550 closed

[2022-02-09 01:01] #317 closed

[2022-02-09 03:18] edublancas commented on #468
fixed by 343006e8f2701ff52d0f1f8a8e823d35f69ab613

[2022-02-09 03:18] #468 closed

[2022-02-09 04:21] edublancas opened #565 "add notebook/script-based pipelines tutorial"
Add another tutorial that exclusively teaches notebook-based pipelines - we currently have a jupyter integration section but it centers on the jupyter plug-in

- [ ] how to hide code on the output report
- [ ] changing the output format
- [ ] logging
- [ ] custom kernel names
- [ ] static analysis options
- [ ] the meaning of the nb key
- [ ] supported file formats

[2022-02-09 04:30] edublancas opened #566 "notebook static analysis refactoring"
We'll make a few changes to the way notebook static analysis behaves. It'll have three values now:

1. 'regular' - raise a warning at render time, raise an error at runtime (default)
2. 'strict' / True - raise an exception if there is an error at render time or runtime
3. 'disabled' / False - do not run static analysis

We make this change to allow users to run some of the commands that only requi

[2022-02-09 04:30] edublancas commented on #499
closing in favor of #566 566

[2022-02-09 04:30] #499 closed

[2022-02-09 04:35] edublancas commented on #553
fixed by 763bf3c92ab8a91613bc37744c171c6c4d122fc4

[2022-02-09 04:35] #553 closed

[2022-02-09 14:30] benhowes opened #569 "Support for python function tasks with decorators"
I wish to wrap tasks with a decorator in order to be able to pass in initialized client libraries/sessions.

e.g. I have a decorator `with_deployment_month_client` which uses a `deployment_uuid` and a `month` to create a client

In my pipeline:

[code]

The ideal task code for me would be:
[code]

The current work around is to set the code as:
[code]

[2022-02-09 19:29] edublancas commented on #523
closed by #568

[2022-02-09 19:29] #523 closed

[2022-02-09 19:30] edublancas opened #570 "more robust cli typo suggestion"
see #523 for context

the next iteration of this would be a more generalizable solution that does not require us to hardcode a mapping, possibly using string edit distance and defining a threshold

[2022-02-09 21:18] idomic commented on #533
@jramirez857 want to tackle another one?

[2022-02-09 21:23] idomic commented on #229
@jramirez857 want to tackle another one?

[2022-02-09 21:25] edublancas commented on #229
sorry, this is no longer relevant - it's two years old, we made a few changes since then

[2022-02-09 21:25] #229 closed

[2022-02-09 21:26] idomic commented on #472
@jramirez857 Another good first one

[2022-02-09 21:29] idomic commented on #564
@hypefi wanna take a stab at it?

[2022-02-10 02:31] jramirez857 commented on #472
Sure, I can take this up!

[2022-02-10 03:38] #552 closed

[2022-02-10 04:00] edublancas opened #571 "improve error message when deepcopying dag"
In some situations, the dag object may fail to deepcopy, throwing an uninformative error. we should catch it and show something like: "an error occurred when copying your DAG"

https://github.com/ploomber/ploomber/blob/afadae033e161090610692bfe4f95e941448ea05/src/ploomber/dag/dag.py#L680

[2022-02-10 04:14] edublancas opened #572 "fix is_python and __str__ implementation in NotebookSource"
they convert a notebook into a string but do not filter by code cells

[2022-02-10 04:31] edublancas opened #573 "tip on installing ploomber in the process running jupyterlab"
[here](https://docs.ploomber.io/en/latest/user-guide/jupyter.html#activating-the-jupyter-extension) we have a big note that explains that the process running jupyter must have ploomber installed (users may only install it in the kernel), but we're missing links from other sections to that one

we should mention that here: https://docs.ploomber.io/en/latest/user-guide/jupyter.html#troubleshooting-p

[2022-02-10 04:53] williewheeler opened #574 "pygraphviz misspelled in two places"
See

https://github.com/ploomber/ploomber/blob/60019786aa0c6ce25a233664d7c1bd6914039271/tests/dag/test_dag.py
https://github.com/ploomber/ploomber/blob/60019786aa0c6ce25a233664d7c1bd6914039271/src/ploomber/dag/dag.py

The library is misspelled as "pypgrahviz".

[2022-02-10 05:02] edublancas commented on #574
thanks for reporting this! If you get a chance, it'd be great to have PR :)

[2022-02-10 05:09] williewheeler commented on #574
https://github.com/ploomber/ploomber/pull/575

[2022-02-10 05:14] edublancas commented on #574
thanks!

[2022-02-10 05:14] #574 closed

[2022-02-10 05:41] edublancas opened #576 "Add readme links"
Add links to the relevant sections: Jupyter, VSCode. An the soopervisor integrations

[2022-02-10 06:35] akshad113 commented on #576
i am new to open source can i do this. please point in right direction

[2022-02-10 13:58] edublancas opened #577 "add an FAQ on inputs"
add an FAQ section on how ploomber manages inputs (via upstream) and  how to pass input paths that are not generated by the pipeline (via params or resources_)

[2022-02-10 14:01] edublancas commented on #576
Sure, so the introductory paragraph in the readme, has a few keywords in bold:

Each word should have a link to the corresponding section in the docs to learn more:

jupyter: https://docs.ploomber.io/en/latest/user-guide/jupyter.html

vscode, and pycharm: https://docs.ploomber.io/en/latest/user-guide/editors.html

for Kubernetes, Airflow, AWS Batch, and SLURM. see the "deploy anywhere" section in

[2022-02-10 15:39] MarcoJHB commented on #576
fixed links in intro paragraph #579
Also new so hope I did it correctly?

[2022-02-10 16:30] idomic commented on #531
@MarcoJHB Wanna take another one?

[2022-02-10 16:32] idomic commented on #563
@MarcoJHB Wanna take another one?

[2022-02-10 18:08] idomic opened #580 "User stats should document the tasks parameters"

[2022-02-10 18:55] edublancas opened #581 "regression error: in ploomber build telemetry"
During the refactoring of the telemetry code, I introduced an error, and we no longer log basic dag info. this code hasn't been released so I'll fix it before the next release

[2022-02-10 19:11] edublancas opened #582 "passing custom args to telemetry logging when using the decorator"
we recently refactored the telemetry to use a decorator, but we now lose the ability to log custom info that is specific to the call

[2022-02-10 19:11] edublancas commented on #580
note that I need to work on #582 before we can solve this

[2022-02-10 19:55] edublancas commented on #581
yeah. tests are passing, it's just that we're missing some info to log

[2022-02-10 20:02] idomic commented on #581
Maybe we also need to add tests on the output that's not null or no fields
are missing?

On Thu, Feb 10, 2022 at 2:55 PM Eduardo Blancas ***@***.***>
wrote:

[2022-02-10 20:04] edublancas commented on #581
yes we should. we had this regression test because we're not testing that we're logging everything we want to

[2022-02-10 21:56] idomic opened #583 "Monitoring and alerting on pipelines"
Some users mentioned the need to log the status of their pipelines. This is especially true when using parameterization and scaling pipelines via the grid (parallel pipelines with different params).
This should have an api call, collect the status of the pipeline and output the pipeline id and its status.

[2022-02-10 22:00] reesehopkins opened #584 "Partial build fails - TypeError: cannot pickle 'module' object"
I see the following error when I do `ploomber build -p train`, but do not get the error when running `ploomber build`. My guess it that it relates to a joblib.dump. I tried to add custom un/serializers after seeing the error, but that did not fix it. Sorry, the pipeline is a bit complicated at this point and the error is hard to generate a easy to reproduce example for testing.

[code]

[2022-02-10 22:19] edublancas commented on #584
thanks for reporting this!

[the problem is here](https://github.com/ploomber/ploomber/blob/e9e8814c4f2a03d0a5294c4dba1189527a8fd69c/src/ploomber/dag/dag.py#L680), when using the `-p` argument, we need to create a copy of the DAG object (DAG is the object ploomber uses to represent your pipeline internally).

So I can confirm the problem *is not* with joblib.

To help me find where's the issue, pl

[2022-02-10 22:27] edublancas opened #585 "improvements to pipeline.yaml schema docs"
the pipeline.yaml schema is a bit confusing https://docs.ploomber.io/en/latest/api/spec.html

1. we have a quick example showing a pipeline.yaml at the top, but users may confuse it with the "task schema"
2. the full pipeline.yaml schema (second section) also contains a task section
3. the actual task schema comes in a later section

Not sure what the best is here. Some ideas:

1. delete the first

[2022-02-11 04:36] edublancas opened #586 "drop automated conversion of the static analysis flag"
in 0.16, we're switching the NotebookRunner.static_analysis from bool to str, we currently support backward compatibility and cast the value, but we'll drop this conversion in ploomber 0.18

[2022-02-11 05:07] edublancas opened #587 "better warning display when rendering and building dag"
When rendering and building a DAG, we capture warnings and display them all at the end. However, we only show the message and do not show the type of warning or the filename. We should include that as well

[2022-02-11 05:10] edublancas commented on #545
alternatively, we may way to automatically add the parameters cell if missing

[2022-02-11 14:16] idomic commented on #582
We need to make sure that in the new logic of the files we don't lose the uid, or have a mechanism to connect it once there's an upgrade

[2022-02-11 14:18] edublancas commented on #582
that's not affected by this (uid)

[2022-02-11 17:11] edublancas opened #589 "warn if mixing conda/pip"
(related to https://github.com/ploomber/soopervisor/issues/67)

I think the workflow we want is like this:

[code]

Before finishing the install logic, we should check if the `requirements.lock.txt` contains any `{name} @ file:` lines. If so, we should emit a warning. We want a warning here because we don't want the workflow to break just because of this.

However, when using soopervisor, we want

[2022-02-12 00:17] edublancas commented on #501
note: since we'll be making changes to the .ploomber directory. I think we could use it to keep track of the status. example: know if a user ran their first pipeline, it it hasn't, output a message after the first successful `ploomber build` with next steps (try `ploomber scaffold`, join our community, etc)

[2022-02-12 05:31] edublancas opened #590 "Set timeout to telemetry call"

[2022-02-12 16:55] edublancas opened #591 "ploomber 0.14.7 fails to parse notebook with %%time magic"
we fixed magics parsing in that version but it's still giving trouble

the problem still exists in `0.15.x`, the reason is we are commenting out all lines that contain cell magics to parse the code and look for issues, however we should only comment the magi cells whose code isn't python, for magics like time, the rest of the code is python so we should only comment the first one. see soorgeon's c

[2022-02-12 18:19] edublancas commented on #540
I did some research on this. According to this [article](https://wimyedema.medium.com/drawing-dags-5cadcb452115), the best non-pygraphviz option is [d3-dag](https://erikbrinkman.github.io/d3-dag/index.html). That could work.

I think we should also implement some text-based representation that does not depend on any external libraries.

[2022-02-12 22:09] edublancas commented on #403
How to reproduce this:

[code]

[code]

Error:

[code]

the problem is in the initialization of EnvDict (`env/envdict.py`), we should check if `source` has an attribute `_data` and if that attribute is an instance of EnvDict, then do `source = source._data`, then the next lines in the initialization will do the right thing.

[2022-02-13 00:56] edublancas opened #592 "suggest using ploomber scaffold when missing task source"
If the user creates a `pipeline.yaml` but some sources are missing, we should suggest running `ploomber scaffold`. Currently, we do that for the simplest case possible: when a script/notebook is missing and there is a `pipeline.yaml` in the current working directory. However, we want to cover more complex cases like having a `pipeline.yaml` in a different place, another name, or other types of mis

[2022-02-13 19:27] edublancas commented on #581
fixed in d2ef3276fad0f871bf2677b7fc592f35b0bd980d

[2022-02-13 19:27] #581 closed

[2022-02-13 19:28] edublancas commented on #591
fixed in f44969933a55f044c8e80a8608e15aeefffcd904

[2022-02-13 19:28] #591 closed

[2022-02-13 19:37] edublancas opened #593 "parse_dag bug"
I found a few issues with the `parse_dag` function, the output is generating some weird strings:

[code]

I briefly took a look at the code and saw that it's manipulating the string representation of the product object, but it'd be better to use `pathlib` to prevent this. We're also missing tests on the SQL products. Also, if using windows, the output looks different.

[2022-02-13 19:37] edublancas commented on #593
for reference: https://github.com/ploomber/ploomber/blob/d2ef3276fad0f871bf2677b7fc592f35b0bd980d/tests/telemetry/test_telemetry.py#L589

[2022-02-13 20:08] edublancas commented on #590
my internet connection was slow last night and I realized that `posthog.capture` was hanging. is there any timeout argument we can use? like if the service does not respond or the internet connection is slow, timeout after 1-2 seconds.

I did some research on adding an external timeout but I couldn't find anything that didn't need an extra dependency: https://stackoverflow.com/questions/492519/tim

[2022-02-13 21:22] edublancas commented on #584
Based on the output. My guess is that one of your database clients has a reference to a module object. Something like this:

[code]

To test it, please create instances of your db clients and try to pickle them:

[code]

If this is the cause, we can fix it by allowing `DBAPIClient` to take a string with the module name:

[code]

Let me know so we can add this to the backlog for the next release.

[2022-02-14 01:02] #135 closed

[2022-02-14 01:02] edublancas commented on #135
won't work on it for now

[2022-02-14 01:04] edublancas commented on #325
we were not able to reproduce this anymore, so we'll close it

[2022-02-14 01:04] #325 closed

[2022-02-14 01:04] #386 closed

[2022-02-14 01:05] edublancas commented on #414
we won't work on this at the moment

[2022-02-14 01:05] #414 closed

[2022-02-14 01:06] edublancas commented on #208
duplicate of #415

[2022-02-14 01:06] #208 closed

[2022-02-14 01:07] edublancas commented on #438
closing due to inactivity, feel free to open it if problems persist.

[2022-02-14 01:07] #438 closed

[2022-02-14 01:08] edublancas commented on #435
this has been fixed and released it, so closing this. feel free to re-open it if you still have problems

[2022-02-14 01:08] #435 closed

[2022-02-14 14:29] edublancas opened #594 "error when trying to log non-serializable objects"
`posthog.capture` will break if it receives objects that cannot serialize to JSON. the problem is that we won't notice this on the CI since we are not performing the actual calls. there are a few things we can try here - serialize the inputs ourselves and raise an error if there's an issue (so we realize it in the CI), but I think we should also add a try-catch to `posthog.capture` so we don't bre

[2022-02-14 22:53] #484 closed

[2022-02-14 22:53] #521 closed

[2022-02-14 23:03] edublancas commented on #545
we automatically add a parameters cell if missing when parsing the YAML spec

[2022-02-14 23:03] #545 closed

[2022-02-14 23:04] #566 closed

[2022-02-16 14:06] edublancas opened #595 "ml-basic fails on windows when converting to HTML"
I've seen this a few times. nbconvert fails on windows sometimes, I haven't found a solution yet. The benefit of the HTML is that users can run the ml-basic example and then open the HTML report, but we don't want windows users to have a broken example

[code]

[2022-02-16 14:38] idomic opened #596 "Stats issue: help api is being counted as a ploomber build"
The -help seems to be not counted as an individual task but as a ploomber build. (4e910212-de2f-4827-abc3-f7a28fc6ca8a)

Scaffold is also a suspect.
version as well.

[2022-02-16 15:00] idomic commented on #596
version as well.

[2022-02-16 17:31] edublancas opened #597 "Confusing error when task has no params"
Users may think that creating an `env.yaml` will automatically pass the parameters to all tasks. however, they need to explicitly pass params:

[code]

The current error isn't clear so we should ensure we show something like: pass them in the `params` section and show an example.

[2022-02-16 18:53] edublancas opened #598 "error when loading env dict"
this finally should not be here:

https://github.com/ploomber/ploomber/blob/eabf3e5e139c922c240296e7ada6885ed376d66e/src/ploomber/env/envdict.py#L282

[2022-02-16 18:55] edublancas opened #599 "improve error when env.yaml contains placeholders without ''"
similar to what we do with the spec: https://github.com/ploomber/ploomber/blob/eabf3e5e139c922c240296e7ada6885ed376d66e/src/ploomber/spec/dagspec.py#L241

[2022-02-16 20:14] edublancas opened #600 "fix popping sys.argvv"
we're popping the subcommand in sys.argv here: https://github.com/ploomber/ploomber/blob/eabf3e5e139c922c240296e7ada6885ed376d66e/src/ploomber/cli/cli.py#L271

the problem is that this affects downstream processes that may access it

[2022-02-16 20:14] edublancas commented on #596
the calls are right, the problem is we're modifying sys.argv. see https://github.com/ploomber/ploomber/issues/600

[2022-02-16 20:14] #596 closed

[2022-02-16 20:17] idomic commented on #571
@hypefi wanna give this a try?

[2022-02-16 20:27] idomic commented on #596
Why did we close this? Does this new issue also apply to --version and
scaffold calls?

On Wed, Feb 16, 2022 at 3:14 PM Eduardo Blancas ***@***.***>
wrote:

[2022-02-16 20:35] edublancas commented on #596
Yes, all of them

[2022-02-16 22:00] edublancas opened #601 "upgrade pip before installing in venv"
creating a venv and then installing dependencies may lead to use an old pip version, which may not resolve the dependencies for the example correctly, leading to a broken environment

[2022-02-16 22:13] edublancas opened #602 "feature request: allow grid to span multiple notebooks"
Grid allows parametrizing a notebook to run multiple experiments with different parameters

[code]

However, in some cases, one may want to grid over many notebooks:

[code]

[2022-02-16 22:26] williewheeler commented on #602
+1 to train vs evaluate.

In my case I'm looking to implement grid search that invokes feature engineering and selection, model training and model validation all as steps in the grid search. So I will need a way to push the hyperparams into the participating notebooks and also a way to roll up the search results into something that allows me to make a choice before say flushing out the hyperparams

[2022-02-16 22:47] edublancas opened #603 "rename documentation sections"
the title should be an example of a use case.

example: https://docs.ploomber.io/en/latest/cookbook/spec-load-python.html

instead of "load pipeline.yaml into python", could be "composing pipelines"

although for this specific cookbook, there are several use cases. so we have to consider that

[2022-02-17 01:09] edublancas commented on #589
fixed in https://github.com/ploomber/ploomber/pull/588

[2022-02-17 01:09] #589 closed

[2022-02-17 03:10] edublancas opened #604 "ploomber scaffold should generate missing hooks (on_finish) and clients"

[2022-02-18 06:26] edublancas opened #605 "Simplify traceback when calling Ploomber task"

[2022-02-18 14:45] edublancas opened #606 "sql templating guide is outdated"
the first code snippet shows how to declare the product variable, but that's no longer the default behavior: https://docs.ploomber.io/en/latest/user-guide/sql-templating.html

[2022-02-19 00:18] asalt opened #607 "accumulate multiple iterations of the same task for parallel execution"
I am dynamically creating tasks based on available files. The only changes to each task are the input file and expected output. I'd like to run these dynamically generated tasks in parallel. How can I aggregate these tasks together ahead of time to form one big DAG?These are the "pseudo-methods" I have in mind to achieve this based on the docs.

[code]

or append to one dag?
[code]

[2022-02-19 13:55] Vinay26k commented on #524
Hi, is this still unassigned? I would like to give it a try.

[2022-02-19 14:06] idomic commented on #524
@jramirez857 are you still working on it?

[2022-02-19 14:27] edublancas commented on #524
There's actually a PR

[2022-02-19 20:12] idomichael commented on #524
Yeah I missed it.

[2022-02-20 14:47] Vinay26k commented on #429
Hi, please assign this issue to me. I will give it a try.

[2022-02-20 14:47] Vinay26k commented on #571
Hi, please assign this issue to me. I will give it a try.

[2022-02-20 17:43] edublancas commented on #571
sure!

[2022-02-20 17:43] edublancas commented on #429
sure!

[2022-02-21 15:39] edublancas opened #610 "add section with common patterns for tests"
We should add to the CONTRIBUTING.md a section with "test templates", we already have some tips for writing tests but we could expand this with recipes: https://github.com/ploomber/ploomber/blob/master/CONTRIBUTING.md#tips-for-writing-tests

A few things that we should include:

* fixtures that tests typically use (`tmp_directory`, `tmp_imports`, etc)
* tips for using monkeypatch (mock the local m

[2022-02-21 16:17] edublancas opened #611 "add links to cookbook/file-client in relevant sections in the docs"
we recently added an example to use File clients, we should update the docs to link to the example wherever is relevant: https://github.com/ploomber/projects/tree/master/cookbook/file-client

[2022-02-21 17:58] edublancas commented on #607
Hi, thanks for your feedback.

I ran a quick experiment to see how we could support this, something like this:

[code]

However, this simple approach did not work since DAG expects task names to be unique, we can still support it but we'd have to make some other changes (like allowing DAGSpec to modify the names in the spec).

My recommendation, for now, is to use the [Python API directly](https:/

[2022-02-21 18:08] edublancas commented on #602
Hi @mat-ej , thanks for the feedback. Let me see if I understood it correctly.

Are you thinking of something like this?

[code]

So in this case, sikit-train, pytorch-train, and xgb-train are different scripts, right? But the *-evaluate notebooks are the same notebook except, it uses a different model as input to produce the evaluation report.

If so, it seems like we have two use cases.

1. Two

[2022-02-21 20:42] #564 closed

[2022-02-22 01:18] idomic commented on #540
@Vinay26k this is an easy and an important one you can work on.

[2022-02-22 01:18] jramirez857 commented on #524
[Updated PR #612](https://github.com/ploomber/ploomber/pull/612)

[2022-02-22 15:29] Vinay26k commented on #540
Sure, assign it to me. I will give it a try.

[2022-02-22 16:51] edublancas opened #613 "Better error message when incomplete pipeline.yaml"
A new user may try something like this:

[code]

The error message isn't helpful. We should show them how to create a script/function task.

[code]

[2022-02-23 04:13] edublancas commented on #524
closed by #612

[2022-02-23 04:13] #524 closed

[2022-02-23 05:03] edublancas commented on #540
this involves a bit of research and then the implementation. please share your findings so we are on the same page and we can provide some guidance. thanks a lot for your hard work!

[2022-02-23 19:21] asalt commented on #607
Thanks for the response.  I've have success by "appending" jobs to a single DAG. This works very easily.

[code]

[2022-02-23 19:24] #607 closed

[2022-02-23 19:25] edublancas commented on #607
glad to know you got it working! don't hesitate to open another issue if you have more questions!

[2022-02-23 19:29] edublancas commented on #429
closed by #609

[2022-02-23 19:29] #429 closed

[2022-02-23 21:43] fferegrino opened #614 "Skip notebook generation"
When working on a pipeline containing Python scripts a la:

[code]

It would be nice to have a way to skip notebook generation for some of the tasks, maybe if we don't specify the `nb` entry or via an argument to `ploomber build`.

[2022-02-24 05:59] arm2arm opened #615 "are there way to version the pipelines and products?"
hi, are there way to version the pipelines and products?
for example we have analysis.py (it could be a project/ folder):
1)  git  tag v1 produces  datav1,
2) git tag v2 produces datav2 and so on...
3) maybe we can convert analysis.py to pipeline:
and track versions easily?
how to move this workflow to ploomber, is it possible to track versions with ploomber infra?( the pipelines could be a scikit

[2022-02-24 13:57] edublancas commented on #614
Thanks for the feedback, this feature makes sense. The current solution is to use functions as tasks but I think we should also support scripts.

I did some quick research, here are my notes for future reference:

* Currently, scripts/notebooks executed this way support IPython magics (`%time`), I checked if it's possible to run a script with magics and found that line magics kind of work (`ipytho

[2022-02-24 14:05] edublancas commented on #615
Hi, thanks for your feedback.

This is possible, although it hasn't been documented yet. You can add a prefix to the products in the `pipeline.yaml` (to all or some of your tasks):

[code]

Then, tell Ploomber to set the prefix to the current git tag by adding an `env.yaml`

[code]

Note that this requires annotated tags (`git tag v1 -m "some comment"`). Under the hood, Ploomber executes a `git de

[2022-02-24 15:20] #542 closed

[2022-02-24 15:25] edublancas opened #616 "Improving CLI loading time"
Our CLI takes way too long to load.

We've investigated a few approaches (see #542) and determined that we could speed that up by moving out some imports from `ploomber/__init__.py`. However, that would break old codebases since many imports won't work anymore. It also requires us to add some lazy loading import logic, move many imports around. After some experiments, I determined it's not a good

[2022-02-24 15:25] #556 closed

[2022-02-25 15:16] edublancas opened #617 "jupyter manager should ignore clients since slow down loading files"

[2022-02-25 15:52] edublancas opened #618 "Improve CLI command suggestions"
We currently have a hardcoded list of strings to catch typos when executing a command: https://github.com/ploomber/ploomber/blob/ff808c83bc63ce8c1ae09b726f0bceeb6d9d786e/src/ploomber/cli/cli.py#L243

However, this isn't robust. pip implements it using difflib, which is part of the standard library:

https://github.com/pypa/pip/blob/5ab7c124db917625e55693773bcc224793d7ceed/src/pip/_internal/command

[2022-02-26 14:59] aadityasinha-dotcom commented on #618
Can I work on this issue?

[2022-02-26 15:19] idomic commented on #618
Yes I don't think Jose started working on it.

[2022-02-26 16:34] jramirez857 commented on #618
Yes, @aadityasinha-dotcom feel free to take this.

[2022-02-27 07:17] aadityasinha-dotcom commented on #618
@edublancas I guess this function will be useful in finding close match to CLI command.

![](https://miro.medium.com/max/626/1*k4xUX9ARfeTWySbbT6DPSA.png)

[2022-02-27 15:12] idomic opened #620 "ploomber examples into local directory"
When running !ploomber examples -n guides/spec-api-python -o . it outputs an error:

Local copy does not exist...
Cloning into '/root/.ploomber/projects'...
remote: Enumerating objects: 416, done.
remote: Counting objects: 100% (416/416), done.
remote: Compressing objects: 100% (335/335), done.
remote: Total 416 (delta 64), reused 283 (delta 34), pack-reused 0
Receiving objects: 100% (416/416), 1.

[2022-02-27 16:13] idomic commented on #540
Until it's being fixed, if anyone is hitting issues on python < 3.8 this is the way to fix it:
sudo apt-get -qq update -y
sudo apt-get -qq install -y graphviz graphviz-dev
pip -q install graphviz 'pygraphviz<1.8'

[2022-02-27 18:28] Vinay26k opened #621 "FileExistsError for tasks product specified in pipeline.yaml"
[code]

**Steps to reproduce:**

1. ploomber build example
2. update `pipeline.yaml` file
    - tasks > product > nb > file.[_extension_]

[2022-02-27 19:35] edublancas commented on #618
yes, we want to use that one!

[2022-02-27 19:38] edublancas commented on #584
This looks like a different error. The original one was about pickling a module object, this one is about pickling an object defined in the local scope.

Does `client.atdb()` return an object of type `DBClient`?

[2022-02-27 21:27] idomic commented on #621
@Vinay26k want to take this one?

[2022-02-27 21:54] idomic opened #623 "nb cli is missing the supported formats"
Documentation page: api/cli

The help command is also missing the available formats:
output is _ploomber nb: error: argument --format/-f: expected one argument_

[2022-02-27 22:03] idomic opened #624 "nb cli command changes the files without the pipeline.yaml"
When running on the first pipeline example and running: !ploomber nb -f .ipynb
The files will change from .py to ipynb but the pipeline would keep pointing to the .py files.

This causes:
1. The pipeline isn't functional.
2. Users can revert back to the .ipynb files without changing the file manually.

[2022-02-27 22:54] edublancas commented on #617
fixed in 6dfd8fb84e40cba016ecb2446ee0e8831fd78947

[2022-02-27 22:54] #617 closed

[2022-02-27 23:02] edublancas commented on #595
temporary measure: reverted task to `.ipynb`

[2022-02-27 23:49] #613 closed

[2022-02-27 23:54] edublancas opened #625 "add cookbook for different types of tasks"
we have guides that explain how different types of tasks work, but for people who are familiar with ploomber, a quick reference would be better

[2022-02-28 00:29] #605 closed

[2022-02-28 03:03] edublancas commented on #624
I don't remember why I didn't implement this when working on the `nb` command. I think it was because if we edit the user's `pipeline.yaml` (to change the extension) with the `yaml` module, the comments are deleted, which is undesirable as the user may have comments that they want to keep.

So the solution should keep them. I saw there is a yaml loading library that supports keeping comments but I

[2022-02-28 05:04] #623 closed

[2022-02-28 12:54] idomic commented on #624
Yeah ideally it shouldn't be destructive of comments, replacing only the extension can work instead of loading the whole yml.

[2022-02-28 17:41] idomic commented on #573
@hypefi wanna give it a go?

[2022-03-01 02:36] edublancas opened #626 "cookbook on managing multiple kernels"
Sometimes is useful to execute a given script/notebook with a specific kernel, so we should add a cookbook to show how to do this. These are some quick instructions, we need help moving this to the docs.

To list current kernels:

[code]

The first column in the printed table shows the names, you can pass any of those to a script/notebook:

[code]

In some situations, you may want to have an envir

[2022-03-01 03:08] edublancas commented on #529
fixed in 0.16

[2022-03-01 03:08] #529 closed

[2022-03-01 04:48] edublancas opened #627 "Better error message when missing the IRKernel"
When running an R pipeline, an error will show if the IRKernel is not installed, it'd be better to improve the error message stating that that the kernel is missing and the link to the installation instructions

https://docs.ploomber.io/en/latest/user-guide/r-support.html

[2022-03-01 04:59] edublancas opened #628 "improve error message when missing product key"
Given a `pipeline.yaml` like this:

[code]

If we execute `ploomber build`, It will fail with this message:

[code]

It'd be better to suggest how to fix it:

[code]

Note that if this is a script/notebook, the suggested product should have the `nb` key:

[code]

It is possible (but unlikely) that the DAGSpec is loaded from a dictionary (instead of a `.yaml`) file, in such case the output format o

[2022-03-01 09:56] Ni3dzwi3dz commented on #628
Hi, i`d like to give it a try!

[2022-03-01 12:36] idomic commented on #628
Feel free to send a PR, also make sure to go over the Contributing.md.
Thanks for trying to solve it!

[2022-03-01 15:22] edublancas opened #630 "Improvements to the basic concepts tutorial"
We've got some feedback from users to improve the [basic concepts tutorial](https://docs.ploomber.io/en/latest/get-started/basic-concepts.html)

* it should be explicit that the cell injection process is only applicable for scripts/notebooks, in functions, we pass it through the function arguments, and in SQL scripts, we use jinja to render the values
* from the basic concepts, it isn't clear how

[2022-03-01 15:26] edublancas opened #631 "quick reference for different types of tasks"
from @fferegrino:

I think this is a great idea. But I'm unsure how to place it in the docs. Perhaps add a "Task types" document in the "Cookbook" section showing a minimal example for each task type:

* script/notebook
* function
* SQL script
* shell script

Then have each relevant section in the user guide (which is more explanatory in nature) link to the cookbook for people who want to copy-pas

[2022-03-01 15:37] idomic commented on #631
What about separating the two? Usually docs, for instance [Sagemakers](https://docs.aws.amazon.com/sagemaker/latest/dg/api-and-sdk-reference.html) has this differentiation between new-commers and users who know what they're doing.

1. Should cover the get started.
2. Should be use case specific (with copy-paste examples).
3. A complete CLI/SDK reference guide (for deeper dives).

[2022-03-01 15:49] edublancas commented on #631
Yep, [I like this](https://documentation.divio.com/) to guide our doc design

In our docs:

1. user guide -> learning
2. cookbook -> quick stuff, copy-paste
3. API reference -> details

[2022-03-01 18:13] reesehopkins commented on #584
No, it returns `sqlalchemy.engine.base.Connection` . One of  the problems is that our in-house library to connect to our databases is not DBAPI 2.0 compliant -- which I'd like to fix - but that's going to take some time.

[2022-03-01 20:37] idomic opened #632 "product/upstream mismatch"
If a user is leveraging the template, editing the get task for instance, to have 2 outputs when originally it was 1. And he forgot to change the consuming task, it'll break with a long error on missing file when actually the reference is missing.

i.e:

- source: get.py
    product:
      nb: output/get.ipynb
      data: output/get.parquet

and having a downstream task features which has this code

[2022-03-02 00:18] idomic opened #633 "nb cli functionality is documented in the cli --help but not in the docs"
We need to document the command in the docs in a similar manner we do for nb --help.
It should state supported formats and how to convert between them.

[2022-03-02 00:23] idomic opened #634 "Errors when loading a dict instead of the path"
When changing an upstream to have 2 outputs (on pipeline.yaml) but keeping the load for example for the path on a single parameter, it creates Nested folders. Instead it should output a warning to the user.

example:
From:
[code]
To:
[code]

And not changing the task from:
```Path(str(product)).parent.mkdir(exist_ok=True, parents=True)```
To
```Path(str(product['data'])).parent.mkdir(exist_ok=True

[2022-03-02 08:29] ajasja commented on #615
Quick question: can you use `{{git}}` directly in the pipeline.yml?

[2022-03-02 18:27] edublancas commented on #615
Not at the moment, you need the `env.yaml` - this is legacy behavior and we'll fix it so can use it directly

[2022-03-03 18:54] idomic commented on #540
@Vinay26k any progress here?

[2022-03-04 17:41] edublancas opened #636 "Supporting users when database connection fails"
Configuring a database connection has a few friction points, users must ensure that the driver is installed, the credentials are correct, etc. Sometimes the errors are cryptic making it hard to understand what's going on. Unfortunately, errors are specific to each driver and use case. However, I think we could do more for our users, potentially catching errors when trying to establish a db connect

[2022-03-04 18:33] idomic opened #637 "CI stalls on R installation"
In some edge cases the CI stalls and break on R installation. We need to run a few tests, understand what times out and fix it.
Here's a sample of a CI run that broke:

Downloading R
[code]

[2022-03-04 21:22] edublancas opened #638 "feedback on cloud documentation"
* add some end-to-end example, show how to get some example using `ploomber examples` and then how to track execution using the cloud commands
* having the expected output will be useful too, you can use a notebook to write the example and then include it in the docs, [here's an example](https://docs.ploomber.io/en/latest/user-guide/testing.html)

[2022-03-05 15:07] Vinay26k commented on #540
Hi @idomic, yes started exploring on d3-dag and attached is the output html file rendering generated dynamically through python code. [**WIP**]
![image](https://user-images.githubusercontent.com/22490030/156888858-41e33337-1875-4667-bba7-f6354115e800.png)

[2022-03-06 02:03] #618 closed

[2022-03-06 02:18] edublancas opened #639 "add ploomber cloud {cmd} cli suggestions"
When a user types an incorrect command:

[code]

We print a "did you mean {another}?" if there's a close match, but this functionality does not work with nested commands (e.g. `ploomber cloud`)

[2022-03-06 02:21] edublancas opened #640 "ploomber {cmd} --help does not work if missing entry point"
Commands that require an entry point (i.e. `pipeline.yaml`) throw an error if the entry point is missing. This is expected. However, this should not happen when the user passes `--help`:

[code]

Prints:

[code]

[2022-03-06 17:21] edublancas opened #641 "Put back the telemetry calls"
When optimizing CLI loading time, we had to remove to telemetry calls:

https://github.com/ploomber/ploomber/blob/29108ff7a4c088b8788f83f116e84b400c3f3544/src/ploomber/cli/cli.py#L283

and

https://github.com/ploomber/ploomber/blob/29108ff7a4c088b8788f83f116e84b400c3f3544/src/ploomber/cli/cli.py#L294

This is because the telemetry module takes too long to load, once we optimize import time, we sho

[2022-03-06 18:00] edublancas opened #642 "Improve error message when task function has wrong signature"
When a user declares a function with the argument `products` (instead of `product`), the error looks like this:

[code]

This is confusing because the user may end up passing `products` under the params section. But under this scenario, the user really meant to pass `product`.

Solution: check the extra arguments, and see if there is one that is similar to `product` to detect typos, then modify th

[2022-03-06 19:01] edublancas commented on #616
fixed in e61b9af79650a25c1b2a3dc420c3e4837532db62

[2022-03-06 19:01] #616 closed

[2022-03-06 21:41] idomic commented on #540
@Vinay26k This is great!
Is there a way to print the products of the tasks as well?
Does the colors on the paths mean anything?
Also the color are still indicating the execution status right?

[2022-03-06 21:45] edublancas opened #644 "missing cloud API key causing verbose output"
if the user has no API key, the same message displays many times:

[code]

I think if the user does not have a key, the message should not display, as they may think it's an error

[2022-03-07 00:53] #644 closed

[2022-03-08 01:17] edublancas opened #645 "refactor DAG partial build to use shallow copy"
`dag.build_partially` uses `deepcopy` internally, however, the DAG may contain references to unserializable objects (this may happen with database clients). I think it's safe to do a shallow copy, so we need to test it and if it's the case, switch the deep copy

[2022-03-08 01:18] edublancas commented on #584
Ah ok. So most likely there is some logic inside that function that returns the `sqlalchemy.engine.base.Connection` which is referencing some module, hence, it fails to copy. Unfortunately, there isn't much we can do without looking at the code.

In any case, I opened #645, a shallow copy of the DAG may be enough, and if that's the case, we'd be able to solve the problem

[2022-03-08 14:05] kubow commented on #334
I managed to reproduce this error on two independent windows machines (both win 10 and 11).

1. Create example ml-basic folder `ploomber examples -n templates/ml-basic -o ml-basic`
2. Change `pipeline.yaml` file to conver only one file `tasks:  - source: Readme.ipynb    product: Readme.md`
3. call `ploomber build` outputs very similar message (the file Readme.ipynb comes with utf-8 encoding, thoug

[2022-03-08 14:11] idomic commented on #334
It's interesting .md doesn't work as well.
It seems both has the same output error.

[2022-03-08 14:22] edublancas commented on #334
Hey @kubow, thanks for your feedback.

Can you test from the `win-encoding` branch?

[code]

I think for the case I posted originally, it's fine to pass `encoding='utf-8'` since we control the output. For the second case (when `read()`) fails, we probably don't want to do it since the user controls the encoding of their source files. But let me know if this works.

[2022-03-08 14:31] kubow commented on #334
`win-encoding` branch gives this output (also an error):

`ploobmer build`

though `ploomber nb -i` proceeds

[2022-03-08 15:47] edublancas opened #646 "confusing error when passing something.html as source"
[code]

[code]

The issue is because `fit.html` is interpreted as a dotted path, hence Ploomber runs `import fit` and then tries to look for a function named `html`. However, since `fit.py` is a script, it contains this:

[code]

[2022-03-08 18:20] edublancas commented on #334
I forced a a few more calls to write in utf-8, can you try again?

[2022-03-08 18:40] edublancas commented on #636
We now display a link to Slack when a dag build fails, so we're closing this as the other one already covers this specific use case.

[2022-03-08 18:40] #636 closed

[2022-03-08 20:23] fferegrino commented on #614
Regarding the first point: Is there a way to safely detect and ignore cell magics?

As for the second, point: The first option looks more natural, but I'd argue that the second one is the most flexible one (it could be used to specify the type of runner for other kind of tasks?) since one could set `runner: ipython` to run scripts with magics.

[2022-03-09 00:34] edublancas commented on #334
Great, thanks for trying this out. We'll work on a solution and release a new Ploomber version to fix it :)

Regarding the new error: can you look at the partially executed notebook at `C:\_Run\Project\ml-basic\Readme.ipynb`? My guess is that you don't have  `pypgraphviz` installed, that's why the `ploomber plot` command is failing. This is a separate issue, so feel free to [join our community](ht

[2022-03-09 02:45] edublancas commented on #614
Thanks for the feedback!

Yes, we could detect cell magics, but it might be confusing to users since the code they write will be different from the code we execute. There is also an unlikely possibility that we break user's code since there are cell magics that can modify the interpreter's state, for example [`%%capture`](https://ipython.readthedocs.io/en/stable/interactive/magics.html#cellmagic-c

[2022-03-09 10:23] kubow commented on #334
Unfortunately graphviz is almost impossible to install on windows machines with python 3.8+ (I am using 3.9). Furthermore graphviz is missing in `requirements.txt` file.

Anyway I deleted code `ploomber plot` from ipynb file and I was able to transfer it to md format. Thank you.

[2022-03-09 17:23] edublancas commented on #334
Sure, we'll work on a long-term fix for the encoding issue. We also have an open issue to remove the pypgraphviz dependency, so keep an eye on it https://github.com/ploomber/ploomber/issues/540

[2022-03-10 13:23] vgn1 opened #647 "Add option to customise names of grid tasks."
When running tasks in a grid, a number is appended at the end of the tasks product names. For example, the following pipeline.yaml file:

[code]

would result in 3 products: output_dataframe-1.csv, output_dataframe-2.csv and output_dataframe-3.csv.

I would like to have an option to replace -1, -2 and -3 in the filenames with for example -birds, -fish and -flowers.

[2022-03-10 16:22] edublancas commented on #647
Thanks for your feedback!

Any suggestions on how this could look like? I'm thinking of having a `product_prefix` like this:

[code]

Then, the outputs would be 'output/output_dataframe_birds.csv', etc.

[2022-03-10 16:44] vgn1 commented on #647
Yes! Something like that would be great.

I forgot this in the original issue description, but I think the suffix also should be (optionally) added to the task name. So that the name can be the same as the products.

[2022-03-11 02:58] hornste commented on #647
I like the product_suffix as well. Would be nice to apply to task_suffix as well.

That way if you had something like:

[code]

you could do, product_suffix: '-{{param1}}-{{param2}}'

[2022-03-11 03:38] edublancas commented on #334
Hey @kubow, I'm working on a final solution to the encoding problem. Which Windows and Python version are you running? I'd like to test the new implementation.

[2022-03-11 14:35] #334 closed

[2022-03-11 17:51] #333 closed

[2022-03-11 18:08] #595 closed

[2022-03-12 03:23] #571 closed

[2022-03-12 03:23] edublancas commented on #570
implemented in 0.16.3

[2022-03-12 03:23] #570 closed

[2022-03-12 05:07] #393 closed

[2022-03-12 16:13] edublancas commented on #583
this is cover by the existing monitoring feature, right? can we close this?

[2022-03-12 16:33] edublancas commented on #540
@Vinay26k has been doing great progress. so here are some pointers to incorporate his code into Ploomber:

we'll bundle an HTML template that will be used to generate the DAG, we can put this in the [resources directory](https://github.com/ploomber/ploomber/tree/master/src/ploomber/resources)

I'm thinking that the code to generate the plot should be in a separate module, say `src/ploomber/dag/plo

[2022-03-12 16:39] edublancas commented on #621
this is a duplicate of https://github.com/ploomber/ploomber/issues/333, which we already fix - will be available in the next release

[2022-03-12 16:39] #621 closed

[2022-03-12 16:53] edublancas opened #648 "Setting task class default init parameters"
(note that this is related to #513)

In some cases, we want to customize how a task is initialized, for example, if we want to hide the code in an output HTML report, we can create a task like this:

[code]

However, if we have multiple tasks, and want to hide the code in all the outputs, we need to pass the initialization parameters to all of them, which is too verbose. Alternatively, we can prov

[2022-03-12 18:21] idomic commented on #583
Yeah this is done

[2022-03-12 18:21] #583 closed

[2022-03-13 20:06] edublancas opened #649 "ploomber plot with separated products"
Currently, we can turn products on/off from the plot, but they'll show in the same task node, which makes it hard to read when a task has multiple outputs. Alternatively, we could create new nodes like this:

![Screenshot 2022-03-12 at 08 06 18](https://user-images.githubusercontent.com/989250/158077012-009dc027-6e97-487a-97da-53251bdf796c.png)

[2022-03-15 01:42] edublancas opened #650 "adjust colors of ploomber plot"
to be colorblind-friendly: https://www.tableau.com/about/blog/examining-data-viz-rules-dont-use-red-green-together

[2022-03-15 12:30] idomic opened #651 "Conflicting warning msg - running without a config file"
When running without a .ploomber/stats/config.yaml this output is showed to the user as a warning but it contains an error string.

/home/admin/miniconda/envs/myenv/lib/python3.9/site-packages/ploomber/telemetry/telemetry.py:329: UserWarning: Error: Can't read config file [Errno 2] No such file or directory: '/home/admin/.ploomber/stats/config.yaml'
warnings.warn(f"Error: Can't read config file {e

[2022-03-16 01:10] mitch-at-orika commented on #649
My two cents: products inside the node is ok because that is how the pipeline see's it. My biggest bug bear was that the file path to the products was listed (I dont care about that detail when plotting a summary of my dag).
something I hacked locally was getting rid of the file path:
https://github.com/ploomber/ploomber/blob/d0a2f32fb79a807aec8dfacc7a5fe57656000792/src/ploomber/dag/dag.py#L1050-L

[2022-03-16 01:35] edublancas commented on #649
Thanks for your feedback! So if I understand correctly, you only want to see the filename, right?

Actually, I think there's a way to make the task name bold, I was going through graphviz docs and I remember seeing something like that.

[2022-03-16 05:11] mitch-at-orika commented on #649
Yeah I think the filename of the product is more insightful than the path to it (although it might just be my pipeline set up where I have long paths). I do now see merit in your idea though if you can get graphviz to draw the connections between individual products and downstream tasks which can vary.  I still think it might be enough for many users without that level of detail and just having th

[2022-03-16 14:29] idomic commented on #540
@Vinay26k any updates here?

[2022-03-16 14:32] #514 closed

[2022-03-16 14:33] idomic commented on #497
@arturomf94 wanna take this?

[2022-03-17 14:55] hornste opened #653 "Allow task parameter to be used as variable within task"
It would be nice if one could use a task parameter. This might be somewhat solved with issue Add option to customise names of grid tasks. #647 , but I would expect that I could use the parameters in this way.

for example:

tasks:
     - source: ...
     name: ....
     params:
          param1: 'test'
     product:
          nb: output/{{param1}}.ipynb
          csv: products/{{param1}}.csv

[2022-03-17 16:15] hornste opened #654 "Specify template location for ploomber scaffold"
It would be nice to specify the template location, whether a url or local directory, when calling ploomber scaffold.

ploomber scaffold --from-template https://github.com/user/my-template
ploomber scaffold --from-template ~/custom_template

It'd also be nice to be able to set the default template from a user / all users (when using a system install of python) like:

ploomber scaffold --set-templat

[2022-03-17 17:49] edublancas opened #655 "source/product - warning"
users may set source and product to the same notebook, this may cause confusion if the notebook fails as it will add a top cell at the beginning showing the error. I think it's best to show a warning to let the user now that source and product are meant to be different files

[2022-03-18 02:43] edublancas opened #656 "add a few sections to the FAQ"
These are a few things we've been constantly asked:

* how to have tasks output a variable number of products - answer: set a folder as output
* conditionals in pipelines - answer: `import_tasks_from`, partial build or add branching logic inside a task

[2022-03-18 02:49] edublancas opened #657 "add a section to the docs on data versioning"
although ploomber doesn't aim to be a data versioning tool, users can implement a basic versioning system via parametrization.

a simple way of doing it is via the `{{git}}` placeholder, which is currently undocumented (see https://github.com/ploomber/ploomber/issues/615).

we should add a section in the docs showing how to use `{{git}}` and maybe some other approaches for versioning.

[2022-03-18 02:51] edublancas commented on #654
thanks for your feedback! This is a pretty neat feature, we'll work on this soon :)

[2022-03-18 11:12] WolfgangFahl opened #658 "How to hide generated code cells?"
Ploomber generates two "internal" code blocks when generating notebooks from python notation which are unfortunately visible by default:

<img width="302" alt="grafik" src="https://user-images.githubusercontent.com/1336221/158992552-005a9d54-1ef8-4c49-bc65-61ed7a1da8f5.png">

Trying to make these invisible i found:

- https://stackoverflow.com/questions/31517194/how-to-hide-one-specific-cell-input

[2022-03-18 11:45] idomic commented on #415
Is this still unresolved?

[2022-03-18 11:50] idomic commented on #642
@aadityasinha-dotcom want to take a look?

[2022-03-18 11:51] idomic commented on #422
@edblancas we can close this right?

[2022-03-18 11:51] #422 closed

[2022-03-18 11:51] aadityasinha-dotcom commented on #642
Yeah!! Sure.

[2022-03-18 12:13] idomic commented on #563
@aadityasinha-dotcom another one :)

[2022-03-18 12:14] idomic commented on #648
@jramirez857 want to take a look?

[2022-03-18 12:15] aadityasinha-dotcom commented on #563
Okay ;)

[2022-03-18 14:03] edublancas commented on #415
yes

[2022-03-18 14:06] edublancas commented on #658
Hi, thanks for your feedback!

You can hide all code cells when converting to HTML, pdf by passing this to the task:

[code]

Here's an [example](https://github.com/ploomber/projects/blob/master/templates/ml-basic/pipeline.yaml)

Does this solve the issue?

[2022-03-18 14:42] ryparmar opened #659 "Pipeline can't be run with env file having .yml suffix"
### Description
Pipeline can't be run with `env.yml` file. It seems it won't get read at all since variables stated in the `env.yml` are unknown to the pipeline run. Renaming file to `env.yaml` solved the issue for me.

### Replication
Files for replication of minimal example are attached [here](https://github.com/ploomber/projects/files/8303640/test.zip).

### Task
It would be nice to not be depe

[2022-03-18 14:42] edublancas opened #660 "Pipeline can't be run with env file having .yml suffix"
## Description

Pipeline can't be run with env.yml file. It seems it won't get read at all since variables stated in the env.yml are unknown to the pipeline run. Renaming file to env.yaml solved the issue for me.

## Replication

Files for replication of minimal example are attached [here](https://github.com/ploomber/projects/files/8303640/test.zip).

## Task

It would be nice to not be dependent

[2022-03-18 14:42] edublancas commented on #660
duplicate of #659

[2022-03-18 14:42] #660 closed

[2022-03-18 14:53] WolfgangFahl commented on #658
@edublancas  - thanks for the swift answer.
**Does this solve the issue?**
No - it does not - i specifically want to hide the cells introduced by ploomber not the regular ones that are part of our solution. As you can see from the long list of links above and all the hits these links got i was assuming this is a well known issue by now.

The other problem is that the option seems to have no effect

[2022-03-19 02:49] edublancas opened #661 "dismiss "Black is not installed, parameters wont be formatted" message"
papermill shows a logging message if black is not installed, which is causing confusion for ploomber users.

https://github.com/nteract/papermill/blob/aecd0ac16d34dd41a1a8e4ca3351844932af3d94/papermill/translators.py#L195

we should suppress the message

[2022-03-19 02:51] edublancas opened #662 "showing the user how to enable the interactive workflow"
for new users, it's not obvious how to develop interactively, so we should think about how to explain this.

perhaps show a message after they successfully run their first pipeline?

if they use jupyter, tell them they can use the plugin
otherwise, tell them about the  `ploomber nb -i` command

[2022-03-19 12:28] aadityasinha-dotcom commented on #642
Can you explain, why it is showing this error message?

[2022-03-19 14:41] edublancas opened #663 "replicate problem when a client returns a sqlalchemy connection object"

[2022-03-19 15:16] edublancas commented on #650
so I ran the `lightcoral` and `lightgreen` combination through [this simulator](https://davidmathlogic.com/colorblind/#%2390EE90-%23F08080) and they look good

[2022-03-19 17:01] rishav-karanjit commented on #661
Hello @edublancas, you want to remove this message or replace it  by something else?

[2022-03-19 17:09] edublancas commented on #661
we want to suppress it, note that this is coming from an external library (papermill), so I think we need to modify the command-line interface code to suppress warnings coming from papermill

to reproduce:

first, get an example

[code]

Then:

[code]

Note: ensure black isn't installed in the environment

[2022-03-19 17:28] jramirez857 commented on #648
Yes, I'll try this out

[2022-03-19 17:47] rishav-karanjit commented on #661
![image](https://user-images.githubusercontent.com/47602642/159132488-197c349e-402b-4f11-abc8-8ea2aab95e95.png)

Looks good for me.

[2022-03-19 17:49] edublancas commented on #661
maybe you have black installed?

[code]

[2022-03-19 17:52] rishav-karanjit opened #664 "Celll should be replaced by cell"
[Here](https://github.com/ploomber/ploomber/blob/9e7ed3ffa9c8827026f0454c2c6196e555b4db1d/src/ploomber/cli/nb.py#L323) , celll should be replaced by cell.

Can I solve this issue?

[2022-03-19 17:58] rishav-karanjit commented on #661
Will look into it @edublancas. Meanwhile, while looking into this issue I found another issue #664

[2022-03-19 17:59] #664 closed

[2022-03-19 18:04] edublancas commented on #661
sure, merged your PR, thanks!

as a tip, I think we want to use the [`logging`](https://docs.python.org/3/library/logging.html) module to suppress warnings coming from papermill.

my guess is that when calling parametrize_notebook, we're should temporarily suppress loggings coming from papermill, here's we were are calling parametrize_notebook (note that we are calling it in multiple places):

htt

[2022-03-19 18:42] #650 closed

[2022-03-19 18:47] Vinay26k commented on #540
Hi @idomic @edublancas, I have drafted a PR and code refactoring is in progress.
Feel free to add your comments if something needs to be updated/ added, while I'm on it.

cli output:
![image](https://user-images.githubusercontent.com/22490030/159134429-865b950e-2ce9-4c58-9d3d-e8ca73d976a8.png)

d3 output:
![image](https://user-images.githubusercontent.com/22490030/159134469-c8b01c66-9bf4-42f8-8bc7

[2022-03-19 18:48] edublancas commented on #540
this is amazing! will take a look later

[2022-03-20 00:07] jramirez857 commented on #648
Hi, @edublancas @idomic . I have a couple questions

1. Am I correct in understanding the yaml file would look something like this?

[code]

2. If the init_defaults section is new to the YAML, which other parts of the codebase would this affect (e.g. DAG or loader)?
3. Would this only encompass parameters in tasks.py, sql.py and aws.py classes?

I appreciate your help as I am familiarizing myself

[2022-03-20 01:22] edublancas commented on #648
Sure, so the changes need to go in `dagspec.py` and `taskspec.py`, the former deals with the `pipeline.yaml` spec, while the latter with each entry in the `tasks` section.

Now that I think about it `task_defaults` sounds like a better name (instead of `init_defaults`). What do you think?

So, yes, we need to add a new top-level section, as a pointer, here's where we validate the top keys in the `

[2022-03-20 10:36] neelasha23 commented on #645
@edublancas
I tried replacing the deepcopy with shallow copy by adding this method:
[code]

However on running the test_dag.py file the following errors have come up:

[code]
I'm a bit stuck on the debugging part. Any suggestions on the next steps regarding the test failures ?

Also, while trying to debugging the issue I found three versions of the touch method all having the same functionality. I

[2022-03-20 14:52] neelasha23 commented on #472
@edublancas Is this issue sill open? Can I take it up?

[2022-03-20 14:53] idomic commented on #472
I think @jramirez857 already started working on this

[2022-03-20 15:05] edublancas commented on #645
thanks for trying this out! based on the results, it looks like we cannot use a soft copy. so we have to stick with the deep one. Can you open a PR adding a comment on it? So we don't attempt to do a soft copy  in the future :)

something like "we have to use a deep copy since using a soft one will corrupt task status in subsequent runs"

many thanks for taking a look at this!

[2022-03-20 15:05] #645 closed

[2022-03-20 15:20] neelasha23 commented on #645
Sure will do that !

[2022-03-20 15:34] jramirez857 commented on #472
@neelasha23 feel free to take this! I am currently working on a different issue.

[2022-03-20 15:49] edublancas commented on #472
@neelasha23 as a pointer, you can use [this](https://docs.python.org/3/library/difflib.html#difflib.get_close_matches) to compute string distance to see if the user had a typo (e.g. parque instead of parquet)

[2022-03-21 01:19] edublancas opened #669 "validate import_tasks_from"
when loading the `import_tasks_from: file.yaml`, we are not validating its contents, if the file is empty, `yaml.safe_load` will return `None`, which will throw a cryptic error message:

https://github.com/ploomber/ploomber/blob/beb625cc977bcd34481608a91daddc5493e0983c/src/ploomber/spec/dagspec.py#L326

Fix:
* If `yaml.safe_load` returns None, replace it with an empty list
* If returns something o

[2022-03-21 05:38] neelasha23 commented on #472
Sure! Starting on this..

[2022-03-21 06:15] vgn1 opened #671 "ploomber plot: RuntimeWarning: Warning: lightgreen is not a known color."
I get `RuntimeWarning: Warning: lightgreen is not a known color.` when using `plumber plot`. The graph is drawn but the nodes that are supposed to be green are black instead. It works for the red nodes. I tried this on a regular Python 3.7.5 and a Python 3.7.12 in a conda environment.

[code]

[2022-03-21 07:02] vgn1 commented on #671
Just realised there's an open issue #539 where you say pygraphviz isn't supported for python 3.7. Closing this.

[2022-03-21 11:26] neelasha23 commented on #472
@edublancas
I run the SQL template pipeline : https://github.com/ploomber/projects/tree/master/templates/spec-api-sql
After changing the extension like so:
[code]
the pipeline still runs successfully and creates `output/joined_data.cv` which has proper data.

The same thing happened when i changed .parquet to .parquets (https://github.com/ploomber/projects/tree/master/guides/first-pipeline)  ; in

[2022-03-22 03:27] edublancas commented on #472
the example is passing `class: SQLDump`, which tells Ploomber the type of task that is, please remove that line:

[code]

then let me know if you are able to reproduce the error

[2022-03-22 03:30] edublancas commented on #671
hey @vgn1, thanks for reporting this. so in #539 we found that to use Python 3.7 or earlier you need a lower version of pygraphviz, can you tell me which version you're using?

[code]

[code]

My guess is that the colors were introduced in later versions.

[2022-03-22 04:04] edublancas commented on #658
got it! Yeah, you can achieve that, that's actually a feature from the `nbconvert` package but you can pass the arguments via ploomber to achieve that result:

[code]

Edit the `pipeline.yaml` so it looks like this:

[code]

Then build:

[code]

You'll see that `output/nb.html` does not contain the injected parameters, here's my output, you can see that there is no cell numbered as 3 because the p

[2022-03-22 09:59] Ro-Ol opened #672 "Better support for PDF reports"
Hello,

at the moment is only possible to have the report of a task in .ipynb/.html format.
It would also be useful to have them in .pdf.

I personally use wkhtmltopdf for the .html/.pdf conversion, I do not know if it is useful.

Best,
Raffaele

[2022-03-22 11:28] WolfgangFahl commented on #658
Your analysis is very helpful and i am making progress. I am now using a shells script to generate my pipeline files:
[code]
when i run the build script the html and jupyter notebook is generated and the handling of the tags injected-parameters and remove_input seems to work.
An example pipeline.yaml file is:
[code]

this is the result on the command line:
[code]

A strange side effect is that the

[2022-03-22 12:06] idomic commented on #658
Did you check the script isn't removing them? (maybe in the while loop)
I think more context on the use case and what we're trying to achieve will be helpful here.
For the conversion you can use something like: `nbconvert.exporters.pdf.PDFExporter` in a similar manner.
`PDFExporter:
          preprocessors: [nbconvert.preprocessors.TagRemovePreprocessor]`

[2022-03-22 12:14] WolfgangFahl commented on #658
@idomic
I am now calling the tasks by name and the removal seems to be part of the html generation part as an unwanted side effect.
[code]
the work around is currently to change the order of tasks running and regenerated the notebook after it was removed
[code]

As for your PDFExporter hint - i don't know how apply that in a pipeline. I am just not familiar with the syntax and options yet so how w

[2022-03-22 12:39] idomic commented on #658
It seems weird that the html generation will do that.
Did you try unifiying it into a single task like that:
`- source: UB-0.py
  name: UB-0-gen-html
  static_analysis: disable
  product:
    html-nb: UB-0.html
    pdf-nb: UB-0.pdf
    nb: UB-0.ipynb`
?

Also on the PDF generation you can change the file format to .pdf, make sure you have the dependencies installed:
https://nbconvert.readthedocs.i

[2022-03-22 13:11] idomic commented on #672
So after some digging, you can use .pdf, we're using behind the hood in nbconvert, you'll just need to add more dependencies. You'll need to install pandoc and Tex: https://nbconvert.readthedocs.io/en/latest/install.html#installing-pandoc

Then you can just change the extension to `.pdf`

Let me know if that works for you?

[2022-03-22 13:14] idomic opened #673 "Multiple nb products"
Currently the nb product is limited to a single file.
It'll be useful for users to output multiple reports for instance:
[code]

[2022-03-22 14:23] WolfgangFahl commented on #658
@idomic thanks for the PDF explanation but it is explictly wanted not to go the tex way but the pdf via html way since we intend to generate some of the html content and hide the input for that generation. Is there an Exporter Statement for the pdfViaHtml see https://pypi.org/project/notebook-as-pdf/

I'll create a third named task for the time being for a start.

[2022-03-22 14:31] edublancas commented on #672
Thanks for your feedback! It makes sense to support different PDF converters, we'll add this to the roadmap. in the meantime, my recommendation is to output `.ipynb` in your `pipeline.yaml` and then convert them to PDF using `nbconvert`

[2022-03-22 14:42] neelasha23 commented on #472
@edublancas
Yes I was able to reproduce an error on removing the task type line:
[code]

I havent been able to debug the code successfully as of yet. I tried following this guide: https://github.com/ploomber/projects/tree/master/guides/debugging
However the debug() didnt work for the SQL task. Is there any other guide I can refer to?

I have created a PR based on my understanding of the code to ge

[2022-03-22 14:52] Ro-Ol commented on #672
This second approach work, but only if I change

<img src="path/to/Image" width="1000"/>
To
![Name](path/to/Image)
Da: Eduardo Blancas ***@***.***>
Inviato: martedì 22 marzo 2022 15:31
A: ploomber/ploomber ***@***.***>
Cc: Raffaele Olmeda ***@***.***>; Author ***@***.***>
Oggetto: Re: [ploomber/ploomber] Better support for PDF reports (Issue #672)

Thanks for your feedback! It makes sense to suppo

[2022-03-22 16:19] edublancas commented on #672
Great, does this solve the issue? If so, I'll close this and open a new one so we keep in mind to add support for other PDF converters.

[2022-03-22 16:31] edublancas opened #675 "support for alternative notebook PDF converters (e.g. webpdf)"
(see #672 and #658 for context)

There are a few engines to convert `.ipynb` to `.pdf`, however, we only support the default one provided by nbconvert, which depends on pandoc and text. It has a few downsides such as not being able to render embedded charts (see #658), we should add support for other engines

[2022-03-22 16:33] edublancas opened #676 "User guide on report generation"
People are using Ploomber to generate reports from notebooks, however, there isn't a guide showing how to customize the final report, we should add one.

Things to cover:

- [x] how to hide code (only display results)
- [x] selectively hide a few sells ([see here](https://github.com/ploomber/ploomber/issues/658#issuecomment-1074701673))
- [x] how to choose the PDF engine (this is an open issue #67

[2022-03-22 16:37] edublancas commented on #658
thanks, @WolfgangFahl for the feedback, this is great! We've created two issues to cover the use cases you mentioned (#675, #673)

what's the use case to auto-generate the `pipeline.yaml`?

[2022-03-22 16:42] Ro-Ol commented on #672
Yes it does, just keeping in mind that in some cases the HTML format for inserting images could be the best choice

[2022-03-22 16:53] edublancas commented on #672
agree! thanks for your feedback, keep an eye on https://github.com/ploomber/ploomber/issues/675 - we'll work on this soon :)

[2022-03-22 16:53] #672 closed

[2022-03-22 17:50] WolfgangFahl commented on #658
@edublancas thx for listening and reacting. The issue with the pipeline.yaml is the complexity of it. I want to hide that complexity as long as we do not really understand how things work. Our usecase is about generating notebooks for  exercises and exams where sometimes content is visible and sometimes not - obviously students are not supposed to see some details. We 'd like to generate some cont

[2022-03-22 17:53] edublancas commented on #658
great use case, this is the first time we hear someone is using Ploomber for education :) exciting! don't hesitate to send any other feedback or ask questions ([our community](https://ploomber.io/community) is a great place for quick questions)

I'll close this now, keep an eye on #675 and #673, of course, PRs are welcome!

[2022-03-22 17:53] #658 closed

[2022-03-22 18:50] arturomf94 commented on #497
Sorry @idomic - I unfortunately can't atm. Will see if this is still open when I've got a bit more time to contribute!

[2022-03-22 23:31] edublancas opened #677 "Support for deepcopying dags with non-pickable clients"
Under some conditions, a dag.client may not work with pickle, which will cause `dag.build_partially` to fail since it needs to create a DAG `deepcopy`. Since don't really need deepcopies of the clients, we can re-use existing clients and exclude them from the deepcopy.

For example, this will fail:

[code]

A fix is available in the `copy` branch:

[code]

[2022-03-23 01:00] idomic commented on #497
@neelasha23 This one is also open!

[2022-03-23 01:37] LawrenceCheng1570 commented on #669
Hi! I am new to open source and hoping to contribute. I was wondering if I could try to fix and claim this issue? Thanks!

[2022-03-23 01:42] idomic commented on #669
Sure thing, make sure to read the contributing guide!
Feel free to submit a PR

[2022-03-23 01:52] idomic commented on #659
@ryparmar thanks for opening this. We'd love to have you on our slack community channel, you can ask questions there and learn more about ploomber: https://ploomber.io/community

[2022-03-23 01:53] edublancas commented on #669
thanks for your interest @LawrenceCheng1570 , here's the contribution guide https://github.com/ploomber/ploomber/blob/master/CONTRIBUTING.md

[2022-03-23 01:53] idomic commented on #671
@vgn1 please let us know if you were able to sort it out?
Also I recommend joining the slack community channel for faster support cycles: https://ploomber.io/community

[2022-03-23 06:14] neelasha23 commented on #497
Sure! Will take a look

[2022-03-23 16:55] edublancas opened #678 "add an example showing how to modify the DAG returned by DAGSpec"
In some cases, users may want to execute parts of the pipeline depending on input parameters, this can be implemented by using a factory function: https://github.com/ploomber/projects/tree/master/cookbook/python-load

however, for the CLI to work, the factory function must return a DAG object, so we should have an example to show how to remove tasks in the DAG so users can still use the CLI:

[cod

[2022-03-23 22:15] edublancas opened #679 "env.yaml inheritance/composition"
sometimes `env.yaml` are very similar, so it'd be good to have some basic template and then have the second `env.another.yaml` only overwrite some of the values

[2022-03-24 20:10] edublancas opened #680 "cookbook: reusing tasks"
we've been getting the question of re-using tasks a few times now, this is possible turning `extract_upstream` off, we should add a cookbook:

[code]

[2022-03-25 21:01] reesehopkins commented on #677
Hi @edublancas - thanks so much for looking into this -- I received the following stacktrace

### last piece of the install
[code]
### ploomber build partial command

[code]

### stack trace

[code]

[2022-03-25 21:31] edublancas opened #681 "Customizing logic using Python"
Currently, there is no way to customize `ploomber build` behavior, but in some cases, a user may want to override the default rules (i.e. execute a task when the code changes). This is possible by loading the `pipeline.yaml` into Python and then modifying the `DAG` object. This issue discusses some use cases as well as what we need to do to officially support this.

**Please comment if these examp

[2022-03-25 21:32] edublancas commented on #678
closing in favor of #681

[2022-03-25 21:32] #678 closed

[2022-03-25 21:55] bmwilly commented on #681
Looks great, this solves my use case.

Just one note: for something like `delete_branch`, you shouldn't just delete all downstream tasks of `B`. E.g., in

![Untitled Jam - 1](https://user-images.githubusercontent.com/3588399/160207553-eca8ec14-abf1-4fc0-9b52-df0cb80f87a3.png)

`F` is a downstream task of `B`, but should still be run after `E`.

[2022-03-25 23:38] edublancas opened #682 "Re-using tasks"
(This issue discusses a few approaches for re-using tasks. The objective is to open the discussion to add a new example that showcases this)

## Re-using tasks in different `pipeline.yaml` files via `import_tasks_from`

This directive allows composing pipelines. [Typically used](https://docs.ploomber.io/en/latest/deployment/batch.html#composing-batch-pipelines) for composing training and serving p

[2022-03-26 21:33] edublancas commented on #671
we replaced the color names with the RGB values (df499d45f76479f563332cf30437a5fc11879e65), hope this solves the issue (I wasn't able to reproduce it)

[2022-03-26 21:33] #671 closed

[2022-03-26 22:11] edublancas opened #683 "pinning jinja2"
jinja 3.1.0 broke nbconvert, which we use to convert notebooks to HTML/PDF. Since nbconvert hasn't been updated, we pinned the version. Once nbconvert fixes it, we can remove the pinned version:

https://github.com/ploomber/ploomber/blob/164160d64b20f5ec3ce21ff6f7e0535ef4b5fd87/setup.py#L153

[2022-03-26 23:03] edublancas commented on #615
ploomber 0.17.1 improves support for the `{{git}}` placeholder 🎉 you can now use it directly in the `pipeline.yaml` file. Guide here: https://github.com/ploomber/projects/blob/master/guides/versioning/README.ipynb

[2022-03-26 23:03] #615 closed

[2022-03-27 05:34] idomic opened #684 "Missing info in parallel to the template"
Documentation page: get-started/sql-pipeline

comparing this guide with https://github.com/ploomber/projects/blob/master/templates/spec-api-sql/README.ipynb, the notebook mentions how to create the sample data but it's missing in the docs. Also, in notebook it's mentioned as SQLScript: config.get_client but in the doc it's SQLScript: clients.get_client. Minor changes that can help users understand

[2022-03-27 10:47] neelasha23 commented on #497
@edublancas
To clarify, this means on a Mac, the path would be '/pipeline.yaml' ?
I tried to write a sample test case to reproduce the error by doing something like:
[code]
however, this throws error : ```OSError: [Errno 30] Read-only file system: '/pipeline.yaml'```

I referred this article as well: https://sw0zwl.medium.com/how-to-create-a-directory-in-root-on-catalina-or-big-sur-e58e459461a, bu

[2022-03-27 11:17] idomic commented on #497
Yeah in mac/linux / is the root, I think it'll be easier for you to mock the location, look on this test:
tests/spec/test_dagspec.py:682
You can create the file in the mock location. I don't think the os will let you edit files on the root level. Let's see if eduardo has ways to reproduce.

[2022-03-27 11:58] neelasha23 commented on #497
@idomic Okay, checking this testcase

[2022-03-27 20:42] hornste commented on #681
caching logic looks good to me.

[2022-03-28 20:22] edublancas commented on #681
awesome, @hornste: you can use the example for your purposes. It works well, we'll update it once we make it part of the public API.

hey @bmwilly, thanks for the feedback. There is one detail. If in the case you provided, we only delete B and D, then F won't run (since it'll expect a D task to be upstream, and it will throw an error since the DAG won't contain a D task). Any thoughts?

The only s

[2022-03-28 21:18] lfunderburk opened #685 "Ploomber <> Dash app compatibility?"
Hi!
 Was wondering if there is openness to incorporate Dash dashboards as a potential product?

Use case:
Given a series of .py scripts for data download, processing and visualizing, I'd like for one of them to contain a Dash app (see examples https://github.com/plotly/dash-sample-apps), such that when I deploy a Ploomber pipeline, it launches a local server with the app.

Ideally, the first few s

[2022-03-28 21:34] bmwilly commented on #681
@edublancas makes sense. The `import_tasks_from` directive plus what's outlined in this issue is perfect, and covers my use case.

[2022-03-28 22:29] edublancas commented on #685
Hi, thanks for the feedback!

I like the idea of automating the full process. I believe it's best to keep the ploomber pipeline and dash app separate since ploomber expects pipelines to run and finish, while dash is a long-lived server process. However, I still think there's room to have good integration between the two.

How is input data fed into a Dash app? I'm guessing you're passing a path to

[2022-03-28 22:30] edublancas commented on #681
awesome, thanks for the feedback! I'll work on adding a bit more details to the examples I provided, merge them to the master branch, and open some issues to tackle the use of private APIs.

[2022-03-28 22:31] lfunderburk commented on #685
Yes, you can pretty much build functions you need to read the data (dataframe through a Pickle, CSV, TSV, Excel, etc...) as you would with your visualization with Jupyter, or an IDE.

The Dash app machinery is separate from this.

[2022-03-28 22:40] edublancas commented on #497
hi @neelasha23, thanks for looking into this. yes, the way to go is to mock the pipeline location.

so the error will be raised here: https://github.com/ploomber/ploomber/blob/5d881857616922be49559bafc5f8b1efa85729b7/src/ploomber/util/default.py#L467

we need to mock `find_parent_of_file_recursively` to that it returns the root folder  `/`:

something like this (not sure if this will actually run)

[2022-03-28 22:51] edublancas commented on #685
Ok, so I think this is a good use case for a [cookbook](https://github.com/ploomber/projects/tree/master/cookbook).

Here's the idea: a ploomber pipeline that loads raw data and processes it. now, say you want to feed your Dash app with the output of the `clean` task:

[code]

Then, in your dash app (let's call it `app.py`), you can use Ploomber's Python API to connect the pipeline to the app:

[c

[2022-03-28 23:46] lfunderburk commented on #685
Love this! Yes, would love to contribute this cookbook.

[2022-03-28 23:51] edublancas commented on #685
Awesome, feel free to open a PR in the [projects repo](https://github.com/ploomber/projects). contributing guidelines are [here.](https://github.com/ploomber/projects/blob/master/CONTRIBUTING.md)

[2022-03-29 15:30] neelasha23 commented on #497
@edublancas @idomic
Thanks a lot for the guidance.

This is the test case that raises IndexError originally:
[code]

I can include two other similar test cases for all the 3 places in https://github.com/ploomber/ploomber/blob/master/src/ploomber/util/default.py where ```if root_by_pipeline.parents[0].name == 'src': ``` gets invoked.

Also, in the default.py file just after the `root_by_pipeline, p

[2022-03-29 18:13] edublancas opened #687 "Graphical DAG builder"
We've been getting feedback from users to have a UI to build the DAG. I'm thinking this could be embedded into Jupyter and then have changes in the UI to update the `pipeline.yaml`

Please add any thoughts/feedback!

[2022-03-29 18:23] ScienceStanley commented on #687
Howdy guys!

I made a post on Twitter about a graphical DAG builder, and think this would be a amazing tool for Ploomber.

Can share some other tools that get much of the way there, but making workflows directly (visually) expressible/buildable would be so cool!

A lot of my work orbits around operationalizing workflow tools for scientists with minimal CD background, and for that use case a DAG bu

[2022-03-29 22:13] edublancas opened #688 "display the extract_upstream option more prominently in the docs"
turning this option off helps to re-use tasks and some users prefer it as it concentrated all the info in the pipeline.yaml

see this https://news.ycombinator.com/item?id=30816715&seen=1648330831

[2022-03-30 05:00] edublancas opened #689 "Changing HTML to be the default format for products"
New users find confusing that Ploomber generates an output `.ipynb` from tasks, this is expected as `.ipynb` is considered a format for "source code" rather and an output format.

We should consider updating the tutorials/documentation to have HTML files as products by default but mention that users have the option to swap the format for `.ipynb`, `.pdf`, etc.

[2022-03-30 05:09] edublancas opened #690 "Allowing to switch the pipeline.yaml file used by the jupyter plugin"
Currently, the Jupyter plugin looks for a `pipeline.yaml` by default. Users often have more than one YAML definition (one for training, and another one for serving), and they may wanna switch which one to use for the Jupyter plug-in. At the moment, the only way to do so requires setting an environment variable, which means a user needs to restart the Jupyter server.

Alternatively, we could introd

[2022-03-30 05:11] edublancas opened #691 "Allowing more than one pipeline.yaml to integrate with the Jupyter plugin"
At the moment, only one `pipeline.yaml` is considered for injecting the cell in the Jupyter plugin. In some cases, users may want to support more than one (e.g. when having a `pipeline.yaml` and a `pipeline.serve.yaml`, it makes sense to support this pattern, but ensure that the injected cell provides context on which file was used.

Notes

* This should be supported in both the environment variab

[2022-03-30 15:28] bmwilly opened #692 "`ploomber nb --remove` broken for .ipynb files"
It works as expected for injecting:

[code]

but fails when I try to remove the injected cells:

[code]

For context, I want to use notebook files in VS Code. So formatting as .py files, and using `ploomber nb -S` does not help me.

In case it's useful:
[code]

[2022-03-30 19:24] edublancas opened #693 "improve use case in docs"
this section: https://docs.ploomber.io/en/latest/user-guide/configuration.html#managing-multiple-pipelines

suggests that training/serving pipelines are a good use case for multiple `env.yaml` but it's actually not a great example. if a user has more than one pipeline in the same project and they don't have many elements in common, then that's a good use case for many env.yaml

[2022-03-30 19:47] edublancas commented on #647
Hi all,

I started working on this. Bouncing off an idea.

To have a more flexible naming logic, I was thinking something like this:

[code]

This would output: `output/birds.csv`, etc. Having the placeholders anywhere in the product path will allow you to organize them by folder and is a lot more customizable (the initial Idea I had with the `product_suffix` is kind of limited)

Note that this wo

[2022-03-30 20:56] hornste commented on #647
Yes, definitely would be helpful that you could have it anywhere in the product path, whether it was a directory name or part of the file name.

product:
     data: output/[[input_dataframe]]/one.csv
     data2: output/[[input_dataframe]].csv
     data3: output/testing.[[extension]]

so could be a prefix, suffix, directory name, etc. and of course, would need to be able to use more than one of the

[2022-03-30 21:48] edublancas commented on #692
thanks for your feedback! We'll work on this in the next sprint :)

[2022-03-30 22:16] edublancas commented on #647
awesome! implementation is almost ready, this will be part of our next release!

[2022-03-30 22:42] edublancas commented on #657
this has been added https://docs.ploomber.io/en/latest/user-guide/versioning.html

[2022-03-30 22:42] #657 closed

[2022-03-30 22:43] edublancas commented on #637
i haven't seen this anymore. looks like the server hosting R works better

[2022-03-30 22:43] #637 closed

[2022-03-30 22:54] edublancas commented on #602
Hi,

I'll start working on this. Requesting some feedback. I'm thinking what's the cleanest API here, thinking of something like this:

[code]

The only question on my mind is how do we handle the parameters. For example, for the first task `n_estimators=5`, and `criterion=gini`, should we only pass them to the `model.py`, or also to `evaluate.py`?

To me, it seems like the `grid` params are only

[2022-03-30 23:34] edublancas commented on #522
fixed! this will be part of the next release

[2022-03-31 01:14] edublancas opened #694 "better error message when NotebookRunner is initialized with a string instead of a path"
`NotebookRunner` expects a string with Python code or a `pathlib.Path` object to a `.py` file. However, new users may do this:

[code]

But instead they should do:

[code]

If passed a string, we should try to determine if the arguments "looks like a path to a file", and raise an error accordingly: "perhaps you meant passing a pathlib.path object".

[2022-03-31 04:29] edublancas commented on #507
this has been implemented in the monitoring service

[2022-03-31 04:29] #507 closed

[2022-03-31 04:33] edublancas commented on #402
duplicate of #681

[2022-03-31 04:33] #402 closed

[2022-03-31 04:34] edublancas commented on #400
closing in favor of #690

[2022-03-31 04:48] #647 closed

[2022-03-31 04:48] #522 closed

[2022-03-31 04:48] #614 closed

[2022-03-31 04:48] #692 closed

[2022-03-31 04:52] edublancas commented on #614
this will be on 0.17.2 but the user guide isn't ready, so it won't be on the docs yet. FYI, this is how it works:

[code]

[2022-03-31 05:08] mitch-at-orika commented on #681
looks good to me! Out of curiosity why is "--force" needed in the ignore_task example?
Also, Am I understanding these steps correctly with my explanation below:
    dag['create_file']._exec_status = TaskStatus.Skipped   #   give this task the status of "skipped" when running the pipeline
    dag._params.cache_rendered_status = True   #   make the pipeline believe that this task has been executed
I

[2022-03-31 05:17] idomic commented on #687
@ScienceStanley would you like to add in here a few of those tools for reference?
You can also submit a PR if you're up for it! And we have the [community slack channel](https://ploomber.io/community) if there are challenges that comes up.

[2022-03-31 05:20] ScienceStanley commented on #687
Yes!
The main one I have worked with in production is:

https://elyra.readthedocs.io/en/latest/getting_started/installation.html

Potentially could be a tool to integrate even 🤷‍♀️
I absolutely will take a running think at a PR 😇🙏

[2022-03-31 14:31] edublancas commented on #681
Thanks for your feedback! @mitch-at-orika

Re `--force`: `--force` is needed to cover Steven's use case, he wants to skip a task even if passed the `--force` flag. In other cases, you may want to keep the `--force` functionality (which I think is what you want for your use case). So your code would look a bit different (I remember you mentioned on Slack you wanna customize the caching logic, so if

[2022-03-31 15:02] mitch-at-orika commented on #681
This is great content for a "--force" page in the docs. Would you contemplate a page that just explains --force? If it's not already in the docs somewhere that is..

Regarding my use case I have a pipeline that has a hierarchy of frequency of run. So outer to inner pipeline would be ->
(indexed_by),( pipelines )
(__datatype_2D),(**Query**(network_model_links<->**bridgeing_format**<->**dataprocessi

[2022-03-31 15:07] hornste commented on #681
hmmm. when I think of --force, I think it would run all the tasks, regardless of anything.

I wonder if there needs to be another setting, something like

--rebuild will rebuild everything except those marked to "skip"
--force build everything, regardless of it's marked to "skip"

don't know if rebuild is the right name or not.

[2022-03-31 15:17] mitch-at-orika commented on #681
--rebuild is nice! then yeah you can do all the frequency logic in a outer python script by passing to "rebuild" a {task_num:skipped_bool} json, csv, pd.Series ,or dict?? Or I guess ploomber would just have a load_dag(dict) method?? or something?

[2022-03-31 17:23] hornste commented on #647
On further thought, it would be nice to be able to use the [[param]] anywhere in the task definition (source, name, product, etc.)

that way, you can also have more meaningful task names rather than the current number suffixes.

[2022-03-31 17:52] williewheeler-ms opened #696 "Support variables in env.yaml"
Compare:

[code]

vs.

[code]

[2022-03-31 18:29] edublancas commented on #696
Interesting, are you thinking of something flexible?

[code]

Or have a separate section:

[code]

The first one is succinct, but for large `env.yaml` files - it might get a bit hard to read. The second one is more strict, but the structure is clear. Thoughts?

[2022-03-31 18:37] williewheeler-ms opened #697 "Path resolution discrepancy between ploomber build and Jupyter integration"
### Summary

Ploomber resolves relative paths differently depending on the context. In `ploomber --build` it seems that the paths are resolved relative to the current working directory. In Jupyter, they are resolved relative to the notebook location. The result is that the notebooks can't find files in one or the other context.

### Background

I'm using `pipeline.yaml` to inject relative paths in

[2022-03-31 18:45] williewheeler-ms commented on #696
[code]

https://codegolf.stackexchange.com/questions/87614/turtles-all-the-way-down

[2022-03-31 20:17] edublancas commented on #696
Yeah makes sense. Thanks for the feedback!

So this one is gonna be interesting because we need to represent the `env.yaml` values as a DAG, then sort topologically and then render. [Here's where it should happen.](https://github.com/ploomber/ploomber/blob/f2b44e15db57e372a97ca8fa61d1f728fd659714/src/ploomber/env/envdict.py#L101) If you wanna give a try, feel free to!

[2022-03-31 20:35] williewheeler-ms commented on #696
I don't know that it requires a topological sort. Could just process the file line by line. Most users would expect the variable to be defined before being used.

[2022-03-31 21:00] edublancas commented on #696
Yeah, that's true.

I guess it can be implemented serially and just provide useful error messages like "variable A hasn't been defined yet, but it is defined in line X" - just to hint to the user that they might need to move it

[2022-03-31 21:29] williewheeler-ms commented on #696
Yes. In my view that would be preferable, and not simply from an implementation perspective. The mental model is just scripty variable assignment, and so users would expect order to matter.

Also allows you to sidestep multiple definitions, which would be a problem under topological sort. It might make sense to disallow that with the serial approach anyway, since it seems more likely than not that

[2022-03-31 21:31] williewheeler-ms commented on #696
Oh, and to your suggested error message -- sure, that would be great. Something I really appreciate about ploomber is that you do a good job of trying to figure out what the user was trying to do and offer hints. I see your idea in that light.

[2022-03-31 22:55] williewheeler-ms commented on #697
Update: I saw that certain default variables are available:

https://github.com/ploomber/ploomber/blob/f2b44e15db57e372a97ca8fa61d1f728fd659714/src/ploomber/env/envdict.py#L101

In particular I can use `{{cwd}}` as a way to control resolution. So that is a way to handle this.

I don't know if those default vars are in the user guide -- I didn't see them -- but that would be useful. Also would be u

[2022-04-01 01:22] edublancas commented on #696
Sounds good, I think the serial approach is best as long as there are good hints for users (throw warnings/errors on re-definitions, helpful error messages if variables are used before they're defined).

[2022-04-01 01:30] edublancas commented on #697
Yes! The default placeholders are the way to go to have an unambiguous definition of paths.

This path problem is because Jupyter always sets the current working directory relative to the notebook's location. Ploomber defines it based on the location of the `pipeline.yaml`, but only for some fields. For example, all `source` values are considered relative to the `pipeline.yaml`, same with `product

[2022-04-01 01:32] edublancas opened #698 "Allow to customize task names when using grid"
This is related to #647 - we already allow custom product paths, but it is not possible to customize product paths

[2022-04-01 01:33] edublancas commented on #647
Thanks for the feedback. I created #698 to track this.

I see the use case for the task name. But what would it be a use case for `source`? The purpose of using `grid` is to execute the same source script with many parameters, so parametrizing the source file might be confusing - in such case, it might be better to add multiple `grid` entries, which is already supported. Thoughts?

[2022-04-01 01:46] edublancas commented on #681
Yes, as the name suggests, `--force` should run everything regardless of anything. The case where we want to skip something "artificially" (that is, modifying Ploomber's standard behavior) is highly dependent on the use case. I think it's best to keep the current behavior (`--force` executes everything) and have users determine how they want to customize if needed - in 90% of the cases, the defaul

[2022-04-01 03:15] edublancas commented on #472
closed by https://github.com/ploomber/ploomber/pull/674

[2022-04-01 03:15] #472 closed

[2022-04-01 10:59] neelasha23 commented on #675
Can I work on this issue?

[2022-04-01 11:14] idomic commented on #675
Go ahead! Thank you for contributing and reach out if you have any issues.

[2022-04-01 14:30] edublancas commented on #675
A few pointers:

[This is the implementation](https://github.com/ploomber/ploomber/blob/a766bef90fff5fb5da6431af3e823c46d3da66f0/src/ploomber/tasks/notebook.py#L400) of the task that runs scripts. the `nbconvert_exporter_name` can switch to `webpdf`

[And this is where](https://github.com/ploomber/ploomber/blob/a766bef90fff5fb5da6431af3e823c46d3da66f0/src/ploomber/tasks/notebook.py#L91) the notebo

[2022-04-01 14:33] edublancas commented on #497
fixed by #695

[2022-04-01 14:33] #497 closed

[2022-04-01 17:47] #669 closed

[2022-04-01 22:32] hornste opened #699 "SQLAlchemy should accept a URL object in the constructor"
On some databases on SQL Server, you need to pass an instance name in the form of "Server\Instance". SQLAlchemy does not handle this well, and you need to enclose the server name in three brackets {{{server}}}.

For example, to create an engine, you'd need to do something like this:

    connection_url = URL.create(
        "mssql+pyodbc",
        query={
            "odbc_connect": f"DRIVER={{ODB

[2022-04-02 04:20] neelasha23 commented on #675
@edublancas Thanks a lot for the pointers!

[2022-04-04 17:55] LawrenceCheng1570 commented on #659
Hi @edublancas, thanks for pointing this one out to me! Sorry I would love to, but unfortunately I'm a bit tied up at the moment.

[2022-04-05 01:05] edublancas commented on #699
thanks for the feedback! We've gotten similar feedback in the past (passing the URI is too restrictive), so I think accepting a `URL` object makes sense.

In the meantime, [would using the other DB client work?](https://docs.ploomber.io/en/latest/api/_modules/clients/ploomber.clients.DBAPIClient.html#ploomber.clients.DBAPIClient)

[2022-04-06 14:01] edublancas opened #701 "add a user guide on File clients"
We are missing a user guide explaining how to use File clients, it should explain how to use S3 and Google Cloud.

It's also important to mention how it works (it uploads artifacts to the cloud). Another important concept to explain is how to bring external datasets that live in the cloud already since File clients only upload products generated by the pipeline.

We should also link it to this exa

[2022-04-06 19:57] edublancas opened #702 "display a warning/error if a function task contains a notebook product"
we should point out that only scripts/notebooks generate output notebooks as products

[2022-04-06 20:00] edublancas opened #703 "Catch error when using `product` instead of `product[key]`"
(there is a related issue but I couldn't find it)

if a task generates multiple products, a user might inadvertently run something like `df.to_csv(product)` instead of `df.to_csv(product['data'])`, which will throw a cryptic error. In another issue, we discussed running some static analysis to determine if this might happen but now I thought of an easier alternative.

most of the time, users are e

[2022-04-08 04:41] neelasha23 commented on #673
Can I take up this issue?

[2022-04-08 05:53] idomic commented on #673
Yes feel free to submit a pr, I think the tag should change to something more generic but still so we can recognize it

[2022-04-10 16:13] chris-aeviator commented on #653
I'm doing this all the time, check ENV variables for this

[2022-04-11 03:17] Zhenye-Na commented on #694
Created a CR for this issue, [link](https://github.com/ploomber/ploomber/pull/705)

Can you take a look at it when you got a chance? Thanks

[2022-04-11 03:20] edublancas commented on #675
closing this. thanks to @neelasha23 for putting this together!

I'll create a new section in the docs to show this and a few extra things, for the moment being, this is how to use webpdf:

[code]

This will download chromium if needed, note that this requires: `pip install "nbconvert[webpdf]"`

[2022-04-11 03:20] #675 closed

[2022-04-11 07:11] idomic commented on #646
@Zhenye-Na another good first issue :)

[2022-04-12 13:09] edublancas opened #707 "installing ploomber yields to an old click version"
users have reported that installing ploomber is broken with the following error:

[code]

This happens if `pip install ploomber` yields an old version of click (`7.x`), I'm not sure why this is happening. Currently, to solve it:

[code]

[2022-04-12 13:14] idomic commented on #707
Important to say this happened on sagemaker

[2022-04-15 13:15] edublancas opened #709 "error when userializing complex parameters in notebook"

[2022-04-16 13:50] edublancas opened #710 "support from loading from a pipeline.py"
In some cases, users may want to write their pipeline using the Python API or write it using a `pipeline.yaml` but modify the [loading logic with Python](https://github.com/ploomber/projects/tree/master/cookbook/python-load). In both cases, this requires them to add an argument to the CLI:

[code]

It'd be better if Ploomber supported this by default. So, if a `pipeline.py` exists and there is a `

[2022-04-16 13:52] edublancas opened #711 "with_env decorator should read from the env var if any"
`PLOOMBER_ENV_FILENAME` allows users to switch the ``env.yaml`` to use, we need to ensure that the `with_env` decorator also supports it for API consistency.

[see this](https://github.com/ploomber/projects/tree/master/cookbook/python-load) for examples

[2022-04-16 13:53] edublancas opened #712 "making public some parts of the private Python API"
In #681 we discussed customizing the DAG loading logic with Python, however, to achieve the requested use cases, we need to use private APIs. We should make them public.

[2022-04-16 13:53] edublancas commented on #681
Closing this. Moved the code examples to the master branch in the [projects repo](https://github.com/ploomber/projects/tree/master/cookbook/python-load) and created new issues for the pending changes.

[2022-04-16 13:53] #681 closed

[2022-04-16 13:55] #638 closed

[2022-04-16 13:57] edublancas commented on #321
closing this since we added an example: https://github.com/ploomber/projects/tree/master/guides/cron

[2022-04-16 13:57] #321 closed

[2022-04-16 13:58] edublancas commented on #470
this has been recently added to Actions, closing this

[2022-04-16 13:58] #470 closed

[2022-04-16 13:59] edublancas commented on #457
no longer a priority, closing this. feel free to open if you think we should work on this

[2022-04-16 13:59] #457 closed

[2022-04-16 13:59] edublancas commented on #458
no longer a priority, closing this. feel free to open if you think we should work on this

[2022-04-16 13:59] #458 closed

[2022-04-16 14:04] #694 closed

[2022-04-16 14:26] jramirez857 commented on #698
I am interested in taking this on!

[2022-04-16 14:31] edublancas commented on #698
awesome! assigned. I think this one is straightforward. we just need to allow the user to use placeholders `[[something]]` to customize the task name.

So here we define the name:

https://github.com/ploomber/ploomber/blob/6f8a2547262d1bb7faadd268405a66c860be9b2a/src/ploomber/tasks/taskgroup.py#L185

But it should be something like this:

https://github.com/ploomber/ploomber/blob/6f8a2547262d1bb7f

[2022-04-16 14:54] #709 closed

[2022-04-16 14:54] #679 closed

[2022-04-16 14:54] #699 closed

[2022-04-16 18:16] edublancas opened #713 "Documentation improvements"
Here are some ideas for improving the documentation:

### 1. Standalone snippets

Many sections in the documentation contain headers with the `ploomber examples` ([example](https://docs.ploomber.io/en/latest/user-guide/parametrized.html)). However, the command is barely visible. It'll be better to add a full standalone example:

[code]

In some cases, we may have cookbooks that group several use c

[2022-04-16 18:17] edublancas opened #714 "ci fix"
The CI fails very often due to a timeout in the monitoring tests, see this: https://github.com/ploomber/ploomber/runs/6049068833?check_suite_focus=true

[2022-04-16 18:47] edublancas opened #715 "Improve feedback when running `ploomber task`"
User executes this:

[code]

Print something like this:

[code]

[2022-04-17 00:07] edublancas opened #716 "Pipeline monitoring broken in new deployment"
Something went wrong during the last cloud deployment (I believe this was moving the cloud monitoring to chalice), the new host is broken:

https://github.com/ploomber/ploomber/blob/d31c1cb6db0077e22e3bc714050e85e0e4a490aa/src/ploomber/cli/cloud.py#L28

I believe this happened in the last migration because the old deployment (which we haven't deleted) still works (this is in the master branch):

h

[2022-04-17 00:15] #716 closed

[2022-04-17 04:40] edublancas commented on #388
we'll stop using binder in favor of our jupyterhub at some point so closing this

[2022-04-17 04:40] #388 closed

[2022-04-17 04:41] edublancas commented on #423
we have a few examples to cover this use case now: https://github.com/ploomber/projects/tree/master/templates/exploratory-analysis

[2022-04-17 04:41] #423 closed

[2022-04-17 04:42] edublancas commented on #512
we have a cron example now: https://github.com/ploomber/projects/tree/master/guides/cron

[2022-04-17 04:42] #512 closed

[2022-04-17 15:41] jramirez857 commented on #698
@edublancas Thank you for providing context! I have made progress here and wanted to get some clarification. Currently I have the test case below

[code]

This fails since the two task names in the output are `example-task-1-- and `example-task---a`. My questions are:
1. How should I be handling multiple parameters here?
2. Is my assumption correct that the task should contain both parameters in t

[2022-04-17 15:56] edublancas opened #717 "PR CI failing"
I've noticed that PRs are failing because they are missing an API key to test the monitoring, but the normal CI is working so I think there is some misconfiguration, see this https://github.com/ploomber/ploomber/runs/6053740461?check_suite_focus=true

[2022-04-17 16:33] edublancas commented on #698
For overall context: `TaskGroup` has two class methods: `from_params`, and `from_grid`, you can look at the source code for details but essentially the difference is that `from_params` receives an array of params, and then it passes each element to create a new task; this means (as you showed in your test case), that some tasks might not receive all params (the first one receives param1, and the s

[2022-04-17 17:42] edublancas opened #718 "unused function?"
this function isn't called anywhere:

https://github.com/ploomber/ploomber/blob/343a831da26b20467e72da9d2f3ac57256dc1221/src/ploomber/telemetry/telemetry.py#L102

can we delete it?

[2022-04-18 05:33] idomic opened #719 "Click version mismatch"
We've seen some mismatch between the ploomber version and the one sagemaker has with Spacy, Spacy wouldn't get imported because of typer that wouldn't get imported because a dependency on click:

----> 1 import typer
~/anaconda3/envs/mxnet_latest_p37/lib/python3.7/site-packages/typer/__init__.py in <module>
     10 from click.termui import echo_via_pager as echo_via_pager
     11 from click.termui

[2022-04-18 09:54] idomic commented on #718
I remember I wrote it so we can understand what's the version that's
running so we can solve faster end-user issues, wdyt?

On Sun, Apr 17, 2022 at 8:42 PM Eduardo Blancas ***@***.***>
wrote:

[2022-04-18 10:02] idomic commented on #717
It seems the user doesn't run with a valid api key on the local. The ci has
the key configured under the git secrets.
This is an expected behaviour.

On Sun, Apr 17, 2022 at 6:56 PM Eduardo Blancas ***@***.***>
wrote:

[2022-04-18 13:31] edublancas commented on #718
yeah. I see what the function is doing but it isn't called anywhere

[2022-04-18 13:36] edublancas commented on #719
So this  is related to https://github.com/ploomber/ploomber/issues/707

Based on what we've seen this is what I think it's happening:

1. User installs a bunch of packages, and some of them are not compatible with recent versions of click
2. Using an old version of click breaks ploomber because the [package_name](https://github.com/ploomber/ploomber/blob/343a831da26b20467e72da9d2f3ac57256dc1221/sr

[2022-04-18 17:48] edublancas commented on #707
closing this in favor of https://github.com/ploomber/ploomber/issues/719

[2022-04-18 17:48] #707 closed

[2022-04-18 20:15] #719 closed

[2022-04-18 20:59] #586 closed

[2022-04-18 21:38] edublancas commented on #606
fixed: https://github.com/ploomber/projects/commit/5d8c52be2a2943611ff66d68939fbb8012c0df65

[2022-04-18 21:38] #606 closed

[2022-04-18 22:29] edublancas opened #721 "skipped tests"
I found that this test is skipped:

https://github.com/ploomber/ploomber/blob/962e2aa871fc1a6a2d71b10bac975a5cd692b6aa/tests/cli/test_custom.py#L210

I guess we can remove this since there's already logic that prevents the telemetry from being called in the CI?

[2022-04-18 22:34] edublancas commented on #543
on second thought, this might be confusing.

[2022-04-18 22:34] #543 closed

[2022-04-18 22:35] edublancas commented on #505
closing in favor of https://github.com/ploomber/ploomber/issues/687

[2022-04-18 22:35] #505 closed

[2022-04-18 22:38] edublancas commented on #340
we haven't gotten this request from other users, so I'll close this for now

[2022-04-18 22:38] #340 closed

[2022-04-18 22:48] edublancas commented on #651
I think you fixed this, right?

[2022-04-19 04:06] Zhenye-Na commented on #646
Hey, wanna understand the problem better before I dig in.

So efffectively when we pass `filename.html` in the configuration, it is incorrectly interpreted as `import filename.html` (like python import statement) rather than using `filename.html` as the source file. Am I understanding this behavior correctly?

Also, I am wondering what does `upstream` and `join` here stand for? Are these some pres

[2022-04-19 04:50] idomic commented on #651
Yes

[2022-04-19 04:50] #651 closed

[2022-04-20 02:59] edublancas opened #722 "remove xfail from cloud tests once cloud monitoring is fixed"
https://github.com/ploomber/ploomber/commit/fe1c5dd8f471c5ba3ec2cf3c4caa38eb3cfd82d8

[2022-04-20 03:21] edublancas commented on #646
Yes. that's correct. It's interpreting it as if the user said "from filename import html". I took a look at the code and the error is here:

https://github.com/ploomber/ploomber/blob/7390282804c6f4d0fd941fdfc8f575933122220f/src/ploomber/spec/taskspec.py#L94

This function is aimed to detect when something "looks like a path" so it checks if the string has `/` or `\\`. However, this does not work i

[2022-04-20 03:23] edublancas commented on #646
please also modify the error message from here:

https://github.com/ploomber/ploomber/blob/7390282804c6f4d0fd941fdfc8f575933122220f/src/ploomber/spec/taskspec.py#L99

and add at the end "if you meant to import a function, please rename it

since there's a small chance of a false positive where the user really wants to import a function named "html"

[2022-04-20 15:20] edublancas opened #723 "plotting with d3 backend"
- [ ] soorgeon: update pygraphviz message - it still prints a message saying pygraphviz is required
- [x] clear error message: many examples set the output path to `pipeline.png` - but this wont work if using the d3 backend
- [x] update documentation

[2022-04-21 02:51] edublancas opened #724 "reimplement multi-threaded downloads with async"
there are a few places where we are using multithreading to download files, but looks like using asyncio is a [better option](https://www.velotio.com/engineering-blog/async-features-in-python). we'd first have to do a quick implementation and see how much benefit it brings to consider migrating

[2022-04-23 17:28] aadityasinha-dotcom commented on #639
Hey!! Can I work on this issue?

[2022-04-24 07:54] edilson258 commented on #724
se for implementado do jeito certo, acredito que trará um ganho de performance, mesmo que não dê grande impacto fara diferença

[2022-04-25 00:29] jramirez857 commented on #698
Hi @edublancas, I apologize for the day. Hopefully I should have the test case for `from_grid` available for PR with a couple days. If not, I will be at PyCon and would appreciate the assistance with this and https://github.com/ploomber/ploomber/pull/668#issuecomment-1100908509 during the sprints 😄

[2022-04-25 08:28] idomic commented on #718
Started a PR: https://github.com/ploomber/ploomber/pull/725

[2022-04-25 12:24] #718 closed

[2022-04-25 12:32] theotheo opened #726 "Programmatically create tasks based on the product of the task executed in the previous pipeline step"
I would like to understand how to programmatically create tasks based on the product of the task executed in the previous pipeline step.

For example, `get_data` creates csv-file and I want to create tasks for each row of csv: `process_row_1`, `process_row_2`, .... Accordingly, I have code using the python api that reads a csv-file -- how do I indicate that this csv-file is the product of another

[2022-04-25 13:17] theotheo commented on #726
Ok, I partially understood. I just can use something like `dag['get_data'].product`. Nice!

But another problem: in this case, my factory-function and generated tasks don't become part of the dag, although it directly depends on the product of the previous task. For example, plot displays them without connecting arrows. Is it possible to do this dependency more explicit?

[2022-04-25 14:55] edublancas commented on #726
Hey @theotheo, thanks for your question!

You have a couple of options to do this. Are you using the `pipeline.yaml` or the Python API. We currently do not support this kind of dynamism (create one task per row), since that involves determining the DAG structure at runtime. However, you can pre-define a number of splits (for example: split my data into 10 chunks), and then process them in parallel

[2022-04-25 16:50] aadityasinha-dotcom commented on #715
Can I work on this issue?

[2022-04-25 20:04] #663 closed

[2022-04-25 20:10] #540 closed

[2022-04-25 20:13] edublancas opened #727 "Fix left bar scrolling CSS"
When expanding the left bar in the docs, the bottom sections are hidden - even if you scroll down, you won't see the **Community** section:
![image](https://user-images.githubusercontent.com/989250/165167396-9b999fe1-37fa-43d8-8372-b80a8a6ca653.png)

[2022-04-25 20:19] #301 closed

[2022-04-25 20:19] edublancas commented on #361
We haven't had anyone request this so I'll close this for now

[2022-04-25 20:19] #361 closed

[2022-04-25 20:24] #531 closed

[2022-04-25 20:26] edublancas commented on #483
this is built-in in github, if the user opens a PR and the body says `closes #NUMBER`, then when merging the PR, the issue is closed

[2022-04-25 20:26] #483 closed

[2022-04-25 21:26] edublancas opened #728 "Add link to custom names in grid docs"

[2022-04-26 20:28] edublancas commented on #724
Yes, they are! I think we only have these two, although looking for ThreadPoolExecutor should give you all matches. Do you wanna work on this?

[2022-04-26 22:44] edublancas commented on #698
hey @jramirez857 - no worries! You've been helping us a lot! Sure, I can give you a hand during PyCon - we'll actually be running a sprint, hope to see you there! And please stop by our booth!

[2022-04-27 04:33] neelasha23 commented on #724
yes I can give it a try!

[2022-04-27 20:40] edublancas commented on #724
awesome, please let us know if you see the performance improvements, we'd like to have some benchmarks before investing time in a full implementation

[2022-04-28 04:25] neelasha23 commented on #724
sure, I'll post here once I get some results on the performance

[2022-04-30 21:13] Splintdewolfcry commented on #620
I'd like to help to this task

[2022-04-30 21:28] edublancas commented on #620
Sure,

So the `ploomber examples` command downloads an example into a directory:

[code]

we want to give the option for the user to download the example to the current working directory:

[code]

You can see the implementation here: https://github.com/ploomber/ploomber/blob/d8880b5634dafb0d6bf01a161f133490955b2fce/src/ploomber/cli/examples.py#L240

[2022-05-02 11:35] neelasha23 commented on #724
@edublancas
For invoking the parallel download I was trying out this guide: https://github.com/ploomber/projects/tree/2e8d0436e13323939bba17ccda3a09fb0e75c7f6/guides/cloud-execution
However there seems to be some issue with the endpoint, have shared the stack trace with @idomic

I'm also trying out this template: https://github.com/ploomber/projects/tree/master/templates/etl
But as far as I unders

[2022-05-02 13:17] idomic opened #734 "version update output fails the CI"
Some of the cloud pipeline tests are failing due to mismatching outputs and missing api_key

[2022-05-03 14:43] idomic commented on #727
@edublancas looks like this works in our current docs. Can we close?

[2022-05-03 14:49] edublancas commented on #727
no, it doesn't work. we haven't fixed it

[2022-05-03 15:16] edublancas opened #735 "only inject necessary metadata when manually injecting cell"
**From Slack:**

Hi when using

[code]

I d like to just inject the parameters upstream, downstream etc. How can I not inject the following part:

[code]

[2022-05-03 15:52] edublancas opened #736 "print better diagnostic information on the jupyter console"
it's hard to debug the installation of the jupyter because the process running jupyter is not the same as the one running the kernel or the terminal. We should log some info to the jupyter console to help us debug things (ploomber version, jupyter version, etc)

[2022-05-04 18:54] reesehopkins opened #737 "Ploomber status from CLI reports last time took"
Running `ploomber status` from the CLI returns the following information:

- name
- Last run
- Outdated?
- Product
- Doc (short)
- Location

It would be nice to know how long each task took to run. I'm retraining a model and I forgot how long it took to train last time.

[2022-05-04 19:06] reesehopkins opened #738 "Rename/delete task from ploomber CLI"
I love the ploomber CLI! There's a couple improvements that would really help me

### Rename a task

Sometimes I don't always have the right name for a task initially and only after it runs do I come up with a good name. If the task took a long time, I don't want to have to rerun it. Ideally, I could call something like

[code]
This would and it would rename the source/product and also the .metada

[2022-05-05 06:07] idomic commented on #738
Great feedback @reesehopkins !
So on the last part, you probably want to skip the task execution? (there's already an option for that via the pipeline.yaml)

[2022-05-05 08:17] idomic opened #741 "Issue while running the colab notebook on ploomber examples"
[code]

ploomber, version 0.18.1

[2022-05-05 15:11] reesehopkins commented on #738
Thanks @idomic. I like that it's called `skip` and that it's explicitly declared in the pipeline.yaml.

[2022-05-05 19:07] JMankewitz opened #742 "Feature to prune or discard irrelevant output"
Hello!

A useful feature would be a way to automatically remove or identify data or notebooks which have been made irrelevant due to changes in the pipeline (e.g., renaming an output file or script in `pipeline.yaml`). In the r pipeline package `targets` this is called [pruning](https://docs.ropensci.org/targets/reference/tar_prune.html). For example, I specify an output `A.csv`, build my pipeline

[2022-05-05 23:04] JMankewitz opened #744 "Connection error/warning to app.posthog.com when calling ploomber"
Hey! Every time I call ploomber I get the following error:
[code]
Full stack here with `ploomber interact`

[code]

Doesn't seem to be breaking anything, but kind of annoying. Thanks!

[2022-05-05 23:08] edublancas commented on #744
Thanks for your feedback!

@idomic: my guess is that either posthog is too slow or some proxy issue. is there a way to timeout the call? or perhaps hide the error message?

[2022-05-06 01:29] edublancas commented on #741
I saw something like this the other day. can you check which version of nbconvert is running? I saw a similar error with version 6.1.0. I think the solution is to check what minimum version we support and pin it

[2022-05-06 03:10] edublancas commented on #742
Hi, thanks for opening this issue!

When Ploomber generates a file, it creates a hidden `.metadata` file, so we can use that as a marker to know what it's safe to delete. For example, your `A.csv` will also generate a `.A.csv.metadata`, so if you change it to `B.csv`, we could scan all the pipeline products and look for files that have a `.metadata` associated with them but ignore others.

Any tho

[2022-05-06 03:17] edublancas commented on #738
Thanks for the feedback. A few thoughts:

These proposed features sound kind of "refactoring" and "pruning" a pipeline, so perhaps we could embed them into one sub-command or two.

## Rename a task

I think this is useful but might be too specific. We've had cases where people want to skip a task for a few circumstances, so I think having a command to overwrite the metadata might a good alternativ

[2022-05-06 03:21] edublancas commented on #737
So right now, we don't store pipeline run metadata, so it isn't possible to recover this. Although I think this could be useful for many use cases.

Perhaps we could optionally store `ploomber build` and `ploomber task` metadata in a database? (easiest one would be a sqlite database since it requires not setup)

Then you could use SQL to learn about your historical runs:

[code]

Thoughts?

[2022-05-06 03:49] reesehopkins commented on #738
Quick thoughts before I leave town for the weekend. I started to write these as subcommands from task, but I simplied it at the last moment. In other words, it makes sense from a user perspective as a subcommand.

Like your implementation thoughts as well

[2022-05-06 06:14] idomic commented on #737
Why do we need a db here and not just counting end_time - start_time. If we want historical comparisons it makes sense.

[2022-05-07 00:24] edublancas commented on #734
I see that the master branch is passing, what branch is failing?

[2022-05-07 00:55] edublancas commented on #727
fixed by #739

[2022-05-07 00:55] #727 closed

[2022-05-07 01:15] #633 closed

[2022-05-07 02:45] idomic commented on #734
It was specific commiters that was failing

[2022-05-07 02:45] #734 closed

[2022-05-08 05:12] mitch-at-orika commented on #336
Haha I hated this analysis untill I just read why you made me fix them all in my code! I definetely want it to warn me of breaks in the future so worth the effort now! It is a pretty fast general code check / debugging loop anyway. Also... I better clean up my act in those notebooks!

[2022-05-08 17:32] #120 closed

[2022-05-08 17:51] edublancas commented on #685
closing this due to inactivity. feel free to open a PR in the projects repo if you get some time to work on it

[2022-05-08 17:51] #685 closed

[2022-05-08 17:52] #78 closed

[2022-05-08 17:53] edublancas commented on #103
there hasn't been demand for this, so we'll close it for now

[2022-05-08 17:53] #103 closed

[2022-05-08 17:54] edublancas commented on #241
we'll deprecate this module in the future so we wont be making any updates

[2022-05-08 17:54] #241 closed

[2022-05-08 17:56] edublancas commented on #506
this is solved with colab, closing it

[2022-05-08 17:56] #506 closed

[2022-05-08 17:57] edublancas commented on #584
the conclusion from here is that it's the user's implementation what's causing the non-pickable error. closing it for now, but feel free to re-open it if you need more help!

[2022-05-08 18:00] edublancas commented on #620
this has a lot of implications: most likely, the current working directory won't be empty, and we should avoid overwriting files as we may delete users' files. so my suggestion would be to only allow this if the folder is empty, but that kind of defeats the purpose since it's hardly likely that a  user will run this in an empty folder. i don't think we should implement this. Feel free to re-open i

[2022-05-08 18:00] #620 closed

[2022-05-08 21:47] reesehopkins commented on #584
@edublancas, agreed. Best course of action is for me to refractor my code.

[2022-05-09 20:25] edublancas commented on #726
closing this due to inactivity, feel free to re-open if you have questions

[2022-05-09 20:25] #726 closed

[2022-05-10 08:45] idomic commented on #721
@edublancas I don't see it in the master, maybe you removed it and forgot?

[2022-05-10 08:50] #721 closed

[2022-05-10 14:29] edublancas opened #749 "add inline examples to PythonCallable"
https://docs.ploomber.io/en/latest/api/_modules/tasks/ploomber.tasks.PythonCallable.html#ploomber.tasks.PythonCallable

* simple example with a couple of tasks and a few variations (one product, many products)
* link to other relevant sections in the docs and other examples in projects

[2022-05-10 16:36] edublancas opened #751 "Discovering features"
Users are having a hard time finding some of our features. Adding Algolia to the docs helps with discovery but we can do more. I think we should make suggestions to the users so they can learn constantly. To keep it simple, we can define some heuristics.

For example, if a user is using the same source many times, we can suggest using `grid`.

[code]

We can embed this as part of the running proce

[2022-05-10 20:16] edublancas opened #752 "ensure algolia indexes the content of the snippets"
it looks like algolia is only indexing the text in our documentation. for example. if I'm interested in learning what the schema of the `meta` section is, I might look up "meta", but this doesn't take me to the schema docs. this was discovered by a user. here's more of his feedback:

[code]

and additionally reviewed

https://docs.ploomber.io/en/latest/user-guide/parametrized.html
https://docs.plo

[2022-05-11 01:39] edublancas opened #753 "Improving performance when looking for the user's DAG"
When opening a notebook in Jupyter, ploomber looks up if there's a pipeline.yaml in any upper directory and then checks if the file that the user requested is part of the pipeline. if so, it injects the cell.

This process may slow down loading files, here are a few things I noticed:

1. opening a folder slows down a  bit - but it shouldn't since the dag parsing should only trigger when opening fi

[2022-05-12 10:15] idomic opened #754 "pygraphviz reminants"
The code and samples have reminances of pygraphviz like this _pygraphviz_message, we need to make sure we cleaned it and tested since it's been replaced and released already.

[2022-05-12 12:25] fferegrino opened #756 "Missing markers as abstract methods?"
Is there a specific reason as to why these are not marked as abstract methods?

https://github.com/ploomber/ploomber/blob/9e11fcbcdf763d6f3111e8254dc327a56306971e/src/ploomber/clients/storage/abc.py#L30

https://github.com/ploomber/ploomber/blob/9e11fcbcdf763d6f3111e8254dc327a56306971e/src/ploomber/clients/storage/abc.py#L69

[2022-05-12 12:43] idomic commented on #741
The version is nbconvert==5.6.1, on 6.5.0 it works but then it requires an update to jinja as well.

[2022-05-12 12:54] edublancas commented on #754
which pygraphviz message?

[2022-05-12 12:57] idomic commented on #754
That's an example of pygraphviz, src/ploomber/dag/dag.py:107
I think if we decided to go with d3 we should remove all of those references.

[2022-05-12 14:07] idomic opened #757 "Change cloud build task status update from CLI to cloud backend function."
There's functionality in the CLI that should be isolated into an API fuction

[2022-05-12 22:11] edublancas opened #758 "Do not override user settings when running cloud set-key tests"
Some of the cloud tests call the set-key command to verify the functionality. However, this causes the user's existing key to be overridden after running the tests.

We should add a `pytest.fixture` that backs up the user settings and it restores them after the test runs. Essentially, we need to backup the file that stores the key.

https://github.com/ploomber/ploomber/blob/9e11fcbcdf763d6f3111e82

[2022-05-12 22:39] edublancas commented on #741
alright, I fixed it so ploomber works with nbconvert 5.6.1 (and older versions)

[2022-05-12 22:50] #714 closed

[2022-05-12 22:56] edublancas opened #759 "bash script for ploomber setup"
We've noticed that users struggle setting up ploomber, this mostly happens if they install it in an existing virtual environment that has many dependencies, if they have an outdated pip version, among other reasons.

an alternative would be to have a shell script (and possibly a script that works on windows as well) that installs ploomber in a clean environment, and do sanity checks (like run a sa

[2022-05-13 19:59] edublancas opened #760 "monitoring pipeline time out"
I started to see the timeout errors in the monitoring tests, thoughts?

https://github.com/ploomber/ploomber/runs/6428627745?check_suite_focus=true

https://github.com/ploomber/ploomber/runs/6428881522?check_suite_focus=true

https://github.com/ploomber/ploomber/runs/6428881754?check_suite_focus=true

I've re-added the `xfail` decorators because the CI breaks very often.

[2022-05-13 20:27] #741 closed

[2022-05-13 22:28] edublancas opened #761 "composing pipelines from multiple pipeline.yaml"
it's often useful to break a data analysis pipeline into multiple parts. one use case is when a large team works on the same analysis but it's divided into sub-teams that only work with certain parts of it. Note that this is different from the `import_tasks_from` use case since in that case, we want to re-use logic in multiple pipelines.

Currently, we can implement pipeline composition "manually"

[2022-05-13 23:14] #639 closed

[2022-05-13 23:58] edublancas opened #762 "upload notebooks if the pipeline fails"
currently `File` clients upload task products only when the task succeeds; however, it will be useful to upload output notebooks even if the task fails. This will greatly simplify debugging when running the pipeline in a remote environment.

Ensure that a proper message is displayed so the user knows that they can review the notebooks for debugging.

- [x] upload notebooks if task fails
- [x] ensu

[2022-05-14 13:24] edublancas opened #763 "retrying API calls"
when getting timeouts or connection errors while calling the cloud API, we should retry a few times before showing an error, we can use the backoff library for this. posthog uses backoff so we already have that as a dependency:

https://github.com/PostHog/posthog-python/blob/fd92502d990499a61804034e3feb7e17f64a14a1/posthog/consumer.py#L119

[2022-05-14 13:47] edublancas opened #764 "FIxing algolia search button on mobile"
On mobile screens, users need to click on the magnifier button on the right, and then again on the algolia magnifier button that appears. This is a bit confusing, furthermore, the button isn't aligned.

I'm not sure what the best solution is here, so open to suggestions.

![Screen Shot 2022-05-14 at 8 45 37](https://user-images.githubusercontent.com/989250/168428440-4767d901-0466-4c92-8401-cb25e91

[2022-05-14 14:12] #744 closed

[2022-05-14 16:01] edublancas commented on #744
this is fixed in `0.19.1` - I reproduced a similar error but not exactly the one you got. so let me know if you still see the message after upgrading

[2022-05-15 11:38] idomic commented on #760
Fixed a few issues, please re-enable and let's see if it persists.

[2022-05-15 14:38] #749 closed

[2022-05-15 16:36] aadityasinha-dotcom commented on #642
Sorry for being inactive. Will continue working on this.

[2022-05-15 17:30] edublancas commented on #715
https://github.com/ploomber/ploomber/pull/750

[2022-05-15 17:30] #715 closed

[2022-05-15 18:05] edublancas opened #765 "Fix MetaProduct iteration"
In Python, the convention is for dictionaries to iterate over their keys. However, `MetaProduct` iterates over their values:

[code]

This traces back to older versions of Ploomber where it only supported lists of products, so I implemented this custom iteration logic to keep backward compatibility. I doubt users are passing lists as products since this isn't even documented. So we should drop it

[2022-05-15 18:53] edublancas opened #766 "enable copy paste for inline examples"
We need to add some CSS and JS so the Python inline examples (the ones that start with `>>>` can be copied). This is how a non-Python example looks like:

![image](https://user-images.githubusercontent.com/989250/168489173-9f814d15-4ab7-45be-a4a7-d28753bbe6c8.png)

If the user clicks on the window, it'll copy the code. This is how a Python example looks like:

![image](https://user-images.githubus

[2022-05-15 19:06] edublancas opened #767 "fix js when right bar does not appear"
there is some JS code that highlights the currently active section in the right sidebar. See this: https://docs.ploomber.io/en/latest/user-guide/cli.html

However, not all sections in the docs show the right sidebar, in such case, the console keeps throwing an error:

![image](https://user-images.githubusercontent.com/989250/168489626-ffa950a4-3375-4cd4-b890-4b927b118f34.png)

[2022-05-16 12:08] JulienR0y opened #768 "in-line Uploading log and metrics of pipeline run."
Friday May 13th:

Asked in ask-anything channel about if it was possible to upload logfile created during the run to a s3 bucket at the end of a pipeline.yaml run. Within it ( without requiring to upload it manually after).

Command used
```ploomber build --log info --log-file my.log```

Possible solution until integration is to setup a pipeline.yaml that would upload to the bucket all logfile cre

[2022-05-16 12:08] JulienR0y commented on #768
[Eduardo](https://app.slack.com/team/U0164GZJ5EK)  [1 day ago](https://ploomber-io.slack.com/archives/C028KJCJDRT/p1652550165367959?thread_ts=1652475182.759139&cid=C028KJCJDRT)
ah. this is an interesting use case. you'd have to add code to manually upload the log file to S3, but since we already support S3 for uploading artifacts. it makes sense to support uploading the log as well. can you create

[2022-05-16 15:45] edublancas commented on #768
thanks for your feedback!

[2022-05-16 17:14] edublancas opened #770 "isolating IPython user's config from Ploomber"
From Slack:

[2022-05-16 17:27] edublancas opened #771 "Add full AWS and Google Cloud examples"
We currently don't have full examples for AWS and Google Cloud. This forces users to go around the docs to assemble their pipelines. Since consuming data from a warehouse, transforming and uploading results is a pretty typical use case, we should add some complete examples so users can get started quickly.

The main challenge is how to test them. For now, we can add them to the project's repositor

[2022-05-16 19:58] edublancas opened #772 "missing examples in the documentation"
- [x] S3 and GCloudStorage clients should have an example showing how to pass a dotted path with parameters
- [x] #801

[2022-05-16 22:07] edublancas commented on #724
Hi, thanks for the patience.

Using the cloud isn't ideal, since it hides a lot of the underlying process for [uploading](https://docs.ploomber.io/en/latest/api/_modules/clients/ploomber.clients.S3Client.html#ploomber.clients.S3Client.upload) products to S3 and we want a direct measurement. Ideally, we want to directly benchmark the uploading method in the S3 client (with the current implementatio

[2022-05-17 02:25] edublancas opened #773 "animation after opening docs"
When using the search feature, users might be directed to specific sections in the documentation. For example, if search for "schedule", the top [result is this](https://docs.ploomber.io/en/latest/deployment/batch.html#scheduling).

When clicking on it, the page scrolls down to the "Scheduling" section, however, it isn't clear to a user that such section is the one they should pay attention to. It

[2022-05-17 02:31] edublancas opened #774 ""env" search does not yield accurate results"
searching for "env" directs to the Python API docs, however, they do not provide useful content for people using the `pipeline.yaml`, and `env.yaml`

- [ ] Add one example
- [ ] link to the parametrized pipeline tutorial
- [ ] include the `env.yaml` string in the parametrized pipeline tutorial (possibly in the heading)

[2022-05-17 11:14] dgdheeraj commented on #758
Hi @edublancas
Can I try working on this?

[2022-05-17 12:13] idomic commented on #758
@dgdheeraj feel free to submit a PR! Please make sure to go over our contribution guide and the OS blog https://ploomber.io/blog/open-source/

[2022-05-17 13:30] edublancas opened #776 "validating client class"
Users may pass an incorrect client type, for example:

[code]

Since `File` clients expect a different type; the following errors is shown:

[code]

We should validate the type of client received to improve the error. For example:

[2022-05-17 13:35] edublancas opened #777 "repetitive warning for cloud users"
I have an API key set so the CLI is tracking all my calls to ploomber build. At some point, I guess some pipeline fail and didn't register in the backend so the cloud now thinks that I have >2 active pipelines:

  warnings.warn(content)

The problem is that this message is confusing:

1. It's better to say cloud users in the community plan than non-cloud
2. Doesn't provide a way to get rid of the

[2022-05-17 13:46] edublancas opened #778 "error when plotting with D3 backend"
If the pipeline has tasks that need rendering, D3 plot will fail since it doesn't render the DAG first:

https://github.com/ploomber/ploomber/blob/697b2a0b6580010311d8d22a17db516be540a34c/src/ploomber/dag/dag.py#L874

[2022-05-17 13:49] edublancas opened #779 "pass sample code when missing client"
If I have a `pipeline.yaml` with a SQLScript but the client hasn't been configured, this error shows:

However, it doesn't tell me how to fix it. We can consider embedding a snippet there (for both the Spec and Python API) or we can link to the docs - which contains the examples.

[2022-05-17 16:44] edublancas opened #780 "SQLUpload cannot be used with the Spec API"
We recently added validation for `task.source` that checks the extension of the source. So when passing a `.parquet` file we get this error:

Error: Failed to determine task class for source 'products/2022-05-17T11:40:03.714582/processed.parquet' (invalid extension '.parquet'). Valid extensions are: '.R', '.Rmd', '.ipynb', '.py', '.r', '.sh', and '.sql'

Which prevents us from using `SQLUpload`

-

[2022-05-17 16:45] edublancas opened #781 "Missing example in SQLUpload task"
We're missing examples [here](https://docs.ploomber.io/en/latest/api/_modules/tasks/ploomber.tasks.SQLUpload.html#ploomber.tasks.SQLUpload)

- [ ] Add spec api example
- [ ] add python API example
- [ ] link to ETL example (which uses SQLUpload)

[2022-05-17 17:18] edublancas commented on #778
fixed it but missing the test

[2022-05-17 17:31] edublancas opened #783 "SQLUpload constructor should validate that the client is a sqlalchemyclient"
otherwise, it'll fail when trying to access the `engine` attribute - which isn't a clear error

[2022-05-17 22:19] reesehopkins opened #784 "Remove pygraphviz from setup.py"
Love the d3 backend for the plotting the dag!

`pygraphviz` is still listed as testing dependency in
https://github.com/ploomber/ploomber/blob/master/setup.py

[2022-05-17 22:29] edublancas commented on #784
yes! we decided to keep both backends since there are users who are used to the pygraphviz one. It shouldn't affect a regular installation since it isn't included by default. is this giving you trouble?

[2022-05-17 22:33] reesehopkins commented on #784
Oh interesting. I wonder if it's another package that uses it. I'm building via poetry and pygraphviz gets installed as a dev dependency. I didn't want to include graphviz in my CI job.

[2022-05-17 23:11] edublancas commented on #784
pygraphviz has never been a mandatory dependency, so sounds like the installation is coming from somewhere else - and I doubt poetry is installing ploomber's test dependencies. I'll close this now but feel free to re-open it if you need help

[2022-05-17 23:11] #784 closed

[2022-05-17 23:19] edublancas commented on #771
google cloud example done: https://github.com/ploomber/projects/tree/master/templates/google-cloud

[2022-05-17 23:20] edublancas opened #785 "add links to google cloud example"
https://github.com/ploomber/projects/tree/master/templates/google-cloud

- [x] analytics use case section
- [x] SQL examples
- [x] SQL docstrings

[2022-05-18 01:33] edublancas opened #786 "colab broken due to email prompt"
we recently added a prompt for new users to submit their email; however, this doesn't work in jupyter notebooks (including colab):

[code]

see https://github.com/ploomber/projects/issues/37 for reference

solving it for colab is simple since it sets and env variable, we can check for it and skip the email prompt if it appears. for jupyter, we can do something similar but I don't know if jupyter s

[2022-05-18 01:46] 94rain commented on #786
I think the email prompt actually works in Colab. The other issue is not about the email prompt but about plotting.

I am able to enter my email here:

<img width="623" alt="image" src="https://user-images.githubusercontent.com/21193371/168940112-6a5e5817-f961-46ee-8998-527a701f826d.png">

After entering my email and pressing return:

<img width="646" alt="image" src="https://user-images.githubuse

[2022-05-18 01:58] edublancas commented on #786
oh, thanks for letting me know.

So I dug a bit more. As you mention, the email prompt works, but it's very confusing since the field isn't visible (I had to scroll down a bit until I found it) – so I think we should fix this as well.

The error you reported is coming from IPython, colab runs a very old version (5.5.0), when I tried to upload it, I saw this:

jupyter-console 5.2.0 requires prompt-

[2022-05-18 08:26] idomic opened #787 "tests isolation"
We need to make sure our tests are isolated and we have a fixture for a local directory by default on each test. Currently some tests produce residues that breaks the isolation of each test and can affect other tests. Also we have a fixture we're passing manually per test signature, called tmp_directory.

[2022-05-18 10:59] tomaz-suller opened #789 "Make ploomber build write parameters on source code as well"
I've just installed `ploomber` to use in a simple personal project, but I've struggled with how the pipeline configuration in `pipeline.yaml` forces the user to leave some of the parameters in the YAML file and others in the script itself if the user wants the scripts to run manually, without using `ploomber`. I believe if `ploomber build` or some other command in the CLI also injected the paramet

[2022-05-18 13:11] edublancas commented on #787
this is duplicated https://github.com/ploomber/ploomber/issues/442

[2022-05-18 13:11] #787 closed

[2022-05-18 14:08] tomaz-suller commented on #789
Thanks for the quick reply @edublancas .

First, on your suggestion. I'm actually getting some weird behaviour when executing `ploomber nb --inject`. The relevant portion of my `pipeline.yaml` is
[code]
When I inject the parameter cell, I get this output from the terminal:
[code]

I also get different results for each of the source files in these tasks. In `1_1-Parse forms.py` I get
[code]
which h

[2022-05-18 15:05] tomaz-suller commented on #789
I've done some testing, it seems the weird behaviour I mentioned is due to my source files having spaces in their names. Should that be supported?

[2022-05-18 15:31] tomaz-suller commented on #789
I've done a fair bit more testing with `ploomber nb --inject` and there does appear to be a problem with it giving an error with my `pipeline.yaml` on pipelines with more than a single task. Should I open another issue to discuss this better?

[2022-05-18 19:40] edublancas opened #791 "make >>> unselectable in the documentation"
Our docstring examples need to start with `>>>` for pytest to detect them as tests. [Example](https://docs.ploomber.io/en/latest/api/_modules/tasks/ploomber.tasks.PythonCallable.html#ploomber.tasks.PythonCallable):

[code]

However, if users want to select them, they'll also copy the `>>>` characters, and it will break if they put it in the Python interpreter (although IPython is smart enough to i

[2022-05-18 20:30] edublancas commented on #760
I re-ran once, I didn't see the timeouts, but there's still one test failing:

https://github.com/ploomber/ploomber/runs/6496335991?check_suite_focus=true

[2022-05-18 21:55] Dark-Knight11 commented on #791
Hi, I would like to work on this issue. Can you please me direct to the file where changes are to be made?
(I guess it is the CSS file for the docs site but I'm unable to find the file in the repo)

[2022-05-18 22:06] edublancas commented on #791
sure: https://github.com/ploomber/ploomber/blob/master/doc/_static/css/custom-theme.css

instructions to build the docs: https://github.com/ploomber/ploomber/blob/master/doc/CONTRIBUTING.md

[2022-05-18 22:35] #791 closed

[2022-05-19 02:42] #758 closed

[2022-05-19 04:07] edublancas opened #793 "missing search results"
from https://github.com/ploomber/ploomber/issues/789

I think searching for "parameter" should yield the `ploomber nb --inject` command. Maybe also include keywords like "standalone scripts"?

[2022-05-19 04:15] edublancas commented on #789
Thanks a lot for your feedback! I did some detective work and got to the bottom of this (I was able to reproduce the result):

My guess is that you've paired your `.py` files with `.ipynb` ones, so your metadata looks like this:

[code]

When running the `ploomber nb --inject` command, Ploomber injects it to the py file and all paired ipynb ones. The problem is that Ploomber expects the paired not

[2022-05-19 04:18] edublancas opened #794 "CLI hiding the error traceback"
When a user operation triggers an error, we only print the error message if the exception is a `BaseException` (or a subclass):

https://github.com/ploomber/ploomber/blob/0a5fed2f9ec539c744664b1b7b3a7f744ec6c482/src/ploomber/cli/io.py#L99

However, when it's not a subclass, we want to show all the traceback, as it contains important details to debug. But the current implementation only prints the

[2022-05-19 04:20] edublancas opened #795 "error when paired notebooks are not inside a subdirectory"
when parsing the jupytext format string, we're assuming the parsed format contains a prefix (i.e. a subdirectory), and the code breaks if this is not the case:

https://github.com/ploomber/ploomber/blob/0a5fed2f9ec539c744664b1b7b3a7f744ec6c482/src/ploomber/sources/notebooksource.py#L979